body {
    margin: 0;
}

* {
    user-select: none;
}


/* Styles for not using default css */


.carousel-wrap {
    width: 100%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    background: #111;
}

.carousel-image {
    background-position: center center;
}
.carousel-btnL {
    width: 50px;
    left: 0;
    position: absolute;
}

.carousel-btnR {
    width: 50px;
    right: 0;
    position: absolute;
}

.carousel-bubbles {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5px;
    width: calc(100% - 80px);
    max-width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 100;
}

.carousel-btn {
    background: rgba(138, 138, 138, 0);
    height: 100%;
    /* top: 0;
    bottom: 0; */
    width: 40px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s;
}

/* .carousel-btn:hover {
    background: rgba(138, 138, 138, 0.3);
} */

.carousel-btn svg {
    color: #d8d8d8;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.carousel-bubble {
    height: 5px;
    width: 40vw;
    margin-left: 5px;
    margin-right: 5px;
    /* border-radius: 100%; */
    /* border: 2px solid white; */
    background: white;
    /* display: inline-block; */
    /* position: relative; */
    transition: 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.carousel-active-bubble {
    /* border-top: 0px solid #00000000; */
    /* height: 20px; */
    background: white;
    margin-bottom: 5px;
}

.carousel-inactive-bubble {
    /* background: transparent */
    /* height: 5px; */
    /* border-top: 15px solid red; */
    margin-bottom: 0px;
    background: #ddd;
}
.carousel-svg-l {
    right: 0;
}

.carousel-svg-r {
    left: 0;
}
