.load {
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 99999999;
   background: #333;
   transition: 0.3s;
   /* opacity: 0; */
}

.load-logo {
   height: min(50vw, 300px);
   width: min(50vw, 300px);
   background: url("/images/svgs/personal-logo.svg");
   border-radius: 100%;
   position: absolute;
   /* left: 0; */
   left: -100px;
   right: 0;
   top: -300px;
   /* top: -400px; */
   bottom: 0;
   margin: auto;
   opacity: 0.3;
   animation: 0.3s logo-in ease-out;
   animation-fill-mode: forwards;
}

.load-name {
   color: white;
   font-family: "Miriam Libre", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   bottom: -50px;
   position: absolute;
   width: 100vw;
   font-size: min(8vw, 5vh);
   top: min(60vw, 400px);
   /* top: min(calc(60vw + 200px), 600px); */
   bottom: 0;
   left: -500vw;
   /* right: -500vw; */
   right: calc(-500vw - 150px);
   margin: auto;
   opacity: 0.3;
   animation: 0.3s name-in ease-out;
   animation-fill-mode: forwards;
}

@keyframes logo-in {
   0% {
      opacity: 0.3;
      /* top: -400px; */
      left: -100px;
   }
   100% {
      opacity: 1;
      left: 0;
      /* top: -300px; */
   }
}

@keyframes name-in {
   0% {
      /* opacity: 0.3; */
      /* top: min(calc(60vw + 200px), 600px); */
      right: calc(-500vw - 150px);
   }
   100% {
      opacity: 1;
      right: -500vw;
      /* top: min(60vw, 400px); */
   }
}