/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*


*/
nav .socials, .land-page .continue-wrap .continue, .land-page .continue-wrap svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 4px;
  margin-right: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  width: 4px;
  right: 55px;
  padding-right: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #666;
  width: 2px;
  margin-right: 5px;
  transition: 0.1s;
}
*::-webkit-scrollbar-thumb:hover {
  background: #006b8c;
}
*::-webkit-scrollbar-thumb:focus {
  background: #00b7ff;
}
*::-webkit-scrollbar-button {
  display: none;
}

a.social-link {
  margin-top: 4px;
}

.body-wrap {
  position: fixed;
  height: 5px;
  transition: left 0.3s, box-shadow 0.3s;
  z-index: 5;
}

.main {
  height: calc(100vh - 20px);
  box-shadow: 0px -5px 15px black;
}

.mobile-navigation-wrap {
  position: absolute;
  width: 50vw;
  background: #191919;
  height: calc(100% - 5vh);
}
.mobile-navigation-wrap .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.mobile-navigation-wrap .navigation .nav-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #ddd;
  position: relative;
  font-size: min(3vw, 3vh);
  border-top: 2px solid #505050;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.mobile-navigation-wrap .navigation .nav-btn:last-child {
  border-bottom: 2px solid #505050;
}

nav {
  height: 5vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  background: #070707;
  bottom: 0;
}
nav .navigation-wrap {
  display: none;
}
nav .socials {
  bottom: 0;
  width: 40vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .socials img {
  color: #ccc;
  height: 3vh;
}
nav .picture {
  height: 5vh;
  width: 5vh;
  max-height: 200px;
  position: absolute;
  right: 10vw;
}
nav .picture img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 7vw;
  width: 7vw;
  max-height: 150px;
  max-width: 150px;
}
nav .burger {
  height: 5vh;
  width: 5vh;
  position: absolute;
  left: 10vw;
}
nav .burger .burger-layer {
  width: 60%;
  height: 3px;
  background: #006b8c;
  transform-origin: 50% 50%;
  transition: 0.2s;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.land-page {
  box-shadow: 0px -5px 15px black;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: relative;
  background-image: url("../images/backgrounds/dark texture.png");
  background-size: cover;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.land-page .continue-wrap .continue {
  border: none;
  border-radius: 5px;
  color: #006b8c;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
  font-size: max(1vw, 2vh);
  z-index: 5;
  animation: 1s pop ease;
}
.land-page .continue-wrap svg {
  bottom: 55px;
  color: #006b8c;
  height: 30px;
}
.land-page .intro-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  z-index: 5;
}
.land-page .intro-wrap .intro {
  position: absolute;
  z-index: 5;
  left: 40px;
  width: calc(100vw - 80px);
}
.land-page .intro-wrap .intro .land-btn {
  border: 3px solid #006b8c;
  border-radius: 5px;
  color: #00b7ff;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
  font-size: max(1vw, 2vh);
  margin-right: 15px;
}
.land-page .intro-wrap .intro .desc {
  font-family: "Miriam Libre", "Courier New", Courier, monospace;
  font-weight: 700;
  color: #ccc;
  font-size: max(2vw, 4vh);
  text-shadow: 5px 5px 1px #333;
}
.land-page .showcase {
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  z-index: 1;
}

footer {
  height: 60px;
  bottom: 0;
}

.b-layer-top-active {
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
}

.b-layer-middle-active {
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  top: 0;
}

.b-layer-bottom-active {
  transform: rotate(-45deg);
  top: 0;
  bottom: 0;
}

.b-layer-top-inactive {
  top: 1.2vh;
  bottom: 3.4vh;
}

.b-layer-middle-inactive {
  top: 0;
  bottom: 0;
}

.b-layer-bottom-inactive {
  bottom: 1.2vh;
  top: 3.4vh;
}

.copy-button {
  display: none;
}

.proj-slider,
.desc-slider {
  min-width: 85vw;
}

.projects-slider {
  height: 40vh;
}

.skill {
  width: min(100px, 30vw);
}
.skill span {
  font-size: min(4vw, 8vh);
}

.skills .sizeUp {
  height: min(4.5vw, 9vh);
}

.skills img {
  height: min(4vw, 6vh);
}

.skills .sizeDown {
  height: min(3vw, 5vh);
}

.address-bubble {
  font-size: min(3vw, 10vh);
}

@keyframes pop {
  0% {
    bottom: -10px;
  }
  40% {
    bottom: 150px;
  }
  100% {
    bottom: 80px;
  }
}
@keyframes float {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 90px;
  }
  100% {
    bottom: 80px;
  }
}