/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*


*/
.land-page .continue-wrap .continue, .land-page .continue-wrap svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 4px;
  margin-right: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  width: 4px;
  right: 55px;
  padding-right: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #666;
  width: 2px;
  margin-right: 5px;
  transition: 0.1s;
}
*::-webkit-scrollbar-thumb:hover {
  background: #006b8c;
}
*::-webkit-scrollbar-thumb:focus {
  background: #00b7ff;
}
*::-webkit-scrollbar-button {
  display: none;
}

.body-wrap {
  position: fixed;
  height: 5px;
}

.main {
  height: calc(100vh - 20px);
}

nav {
  display: none;
  height: 5vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  background: #191919;
  bottom: 0;
}
nav .navigation-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: calc(100vw - min(5vw, 100px) - min(10vw, 200px));
  position: relative;
  top: 0;
}
nav .navigation-wrap .navigation {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  width: inherit;
}
nav .navigation-wrap .navigation .nav-btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #ddd;
  position: relative;
  font-size: min(1vw, 3vh);
  border-top: 2px solid #505050;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
nav .navigation-wrap .navigation .nav-btn::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 0%;
  background: #006b8c;
  transition: 0.2s;
  right: 50%;
  z-index: -1;
  visibility: hidden;
}
nav .navigation-wrap .navigation .nav-btn::after {
  content: "";
  height: 100%;
  top: 0;
  position: absolute;
  width: 0%;
  background: #006b8c;
  transition: 0.2s;
  left: 50%;
  z-index: -1;
  visibility: hidden;
}
nav .navigation-wrap .navigation .nav-btn:hover::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
  background: #006b8c;
  transition: 0.2s;
  right: 50%;
  z-index: -1;
  visibility: visible;
}
nav .navigation-wrap .navigation .nav-btn:hover::after {
  content: "";
  height: 100%;
  top: 0;
  position: absolute;
  width: 50%;
  background: #006b8c;
  transition: 0.2s;
  left: 50%;
  z-index: -1;
  visibility: visible;
}
nav .navigation-wrap .navigation:last-child {
  border-bottom: 2px solid #505050;
}
nav .socials {
  bottom: 0;
  position: absolute;
  width: 10vw;
  height: 5vw;
  max-height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #070707;
}
nav .socials svg {
  color: #ccc;
  width: 2vw;
  max-height: 50px;
}
nav .picture {
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  background: #070707;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav .picture img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 7vw;
  width: 7vw;
  max-height: 150px;
  max-width: 150px;
}

.land-page {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: relative;
  background-image: url("../images/backgrounds/dark texture.png");
  background-size: cover;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.land-page .continue-wrap .continue {
  border: none;
  border-radius: 5px;
  color: #006b8c;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
  font-size: max(1vw, 2vh);
  z-index: 5;
  animation: 1s pop ease;
}
.land-page .continue-wrap svg {
  bottom: 10px;
  color: #006b8c;
  height: 30px;
}
.land-page .intro-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  z-index: 5;
}
.land-page .intro-wrap .intro {
  position: absolute;
  z-index: 5;
  left: 40px;
  width: calc(100vw - 80px);
}
.land-page .intro-wrap .intro .land-btn {
  border: 3px solid #006b8c;
  border-radius: 5px;
  color: #00b7ff;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
  font-size: max(1vw, 2vh);
  margin-right: 15px;
}
.land-page .intro-wrap .intro .desc {
  font-family: "Miriam Libre", "Courier New", Courier, monospace;
  font-weight: 700;
  color: #ccc;
  font-size: max(2vw, 4vh);
  text-shadow: 5px 5px 1px #333;
}
.land-page .showcase {
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  z-index: 1;
}

.copy-button {
  display: none;
}

.proj-slider,
.desc-slider {
  min-width: 85vw;
}

.projects-slider {
  height: 40vh;
}

.skill {
  width: min(100px, 30vw);
}
.skill span {
  font-size: min(4vw, 8vh);
}

.skills sizeUp {
  height: min(4.5vw, 9vh);
}

.skills img {
  height: min(4vw, 6vh);
}

.address-bubble {
  font-size: min(3vw, 10vh);
}