/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*
possible additional accents:
#1598bf - light blue
#1ac8ed

*/
@media screen and (max-width: 700px) {
  .nav-text {
    display: none;
  }

  header h1 {
    width: 50%;
    line-height: 60px;
    text-align: left;
    left: 50px;
    font-size: 6vw;
  }

  nav {
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    display: none;
  }
  nav a {
    height: 100%;
    width: 25%;
  }
  nav a .nav-btn {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
  }
  nav a .nav-btn svg {
    left: 0;
    right: 0;
  }

  header {
    height: 60px;
  }
  header .lAccent {
    height: 60px;
    width: 10px;
    position: absolute;
    left: 0;
    background: #5415b7;
  }
  header .lAccent:after {
    content: "";
    height: 40px;
    width: 10px;
    position: absolute;
    left: 20px;
    background: #5415b7;
  }
  header .rAccent {
    height: 60px;
    width: 10px;
    position: absolute;
    right: 0;
    background: #5415b7;
  }
  header .rAccent:after {
    content: "";
    height: 40px;
    width: 10px;
    position: absolute;
    right: 20px;
    background: #5415b7;
  }

  .burger {
    display: inline;
  }

  .mobile-nav {
    display: flex;
  }

  .carousel-wrap {
    top: 60px;
  }

  .carousel-btn:hover {
    background: transparent;
  }

  .main {
    top: calc(60vh + 60px);
  }

  .highlight-wrap {
    flex-direction: column;
  }
  .highlight-wrap .highlight {
    align-self: center;
  }

  .link-head {
    top: -60px;
  }

  .portfolio-wrap {
    padding-left: calc((100% - 80vw)/2 - 10px);
    padding-right: calc((100% - 80vw)/2 - 10px);
  }
  .portfolio-wrap .port-card {
    width: 40vw;
    height: 40vw;
  }

  .social-sec .social-logo {
    left: 15px;
  }

  .sec-head {
    height: 40px;
    font-size: 20px;
    line-height: 44px;
  }
}