/*
Contained is the default styling for Roundabout.
This file is set up to apply to all Roundabout carousels in a page, but can easily be applied to specific carousels. 

To specify which carousel in a page to apply styling to, insert "-[UNIQUE ID]" after ".roundabout", where [UNIQUE ID] is the nth Roundabout carousel (starts at 0) in the page.
   - i.e. to specify a unique UI wrapper for the 3rd carousel on a page, ".roundabout-ui" would become ".roundabout-2-ui".
   - This applies to all elements EXCEPT for the main wrapper, where its unique selector is specified by the "id" setting.
*/

/*
==================================
Main wrapper
==================================
*/

.projects-slider {
   width: 150%;
   left: -25%;
   /* transform: rotate(90deg); */
   /* Cannot change: "position" and "overflow" */
}

.projects-desc {
   width: 100%;
	height: 60vh;
   /* transform: rotate(90deg); */
   /* Cannot change: "position" and "overflow" */
}



/* This same element also gains the selector specified by the "id" setting */

/*
==================================
Swipe detector
==================================
*/

.roundabout-swipe-overlay {
	width: 52%;
	height: calc(100% - 40px);
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	z-index: 3;
   /* background: orange; */
}

/*
==================================
UI wrapper
==================================
*/

.roundabout-0-ui {
	height: 100%;
	width: 66%;
   /* left: 25%; */
   /* background: white; */
   margin: auto;
   position: relative;
   z-index: 2;
}

/* .roundabout */

/*
==================================
Next and Previous buttons
==================================
*/

.roundabout-btn-next, .roundabout-btn-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 80px;
	width: 80px;
	cursor: pointer;
	color: #fff;
}

.roundabout-btn-next svg, .roundabout-btn-prev svg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 70px;
}

.roundabout-active-nav-btn {
	left: 0;
}

.roundabout-btn-next {
	right: 0;
}

.roundabout-btn-prev {
	left: 0;
}

/* Both buttons also gain the class ".roundabout-scroll-btn" */

/*
==================================
Navigation
==================================
*/

.roundabout-nav-wrap {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
   flex-wrap: wrap;
	justify-content: space-evenly;
	bottom: 0px;
	height: 40px;
	width: 75%;
}

.roundabout-nav-btn {
	margin: auto;
	height: 1vh;
	width: 1vh;
	border-radius: 100%;
	border: 2px solid #fff;
	transition: 0.2s;
	cursor: pointer;
}

.roundabout-inactive-nav-btn {
   background: transparent;
}

.roundabout-active-nav-btn {
   background: #fff;
}

/* All nav buttons gain 5 classes: 

".roundabout-nav-btn", 
".roundabout-[UNIQUE ID]-nav-btn", 
".roundabout-[UNIQUE ID]-nav-btn-[NTH BUTTON]", 

and one of the following pairs: 

".roundabout-active-nav-btn", 
".roundabout-[UNIQUE ID]-active-nav-btn" 

if button is active, -OR-

".roundabout-inactive-nav-btn", 
".roundabout-[UNIQUE ID]-inactive-nav-btn" 

if button is inactive */

/*
==================================
Pages
==================================
*/

.roundabout-page-wrap {
   /* Cannot change: "position", "height", "width", and "left" */
}

/* Page wrap also gains the class ".roundabout-[UNIQUE ID]-page-wrap" */

.roundabout-1-page {
   height: 100%;   
   /* display: flex; */
}

/* .roundabout-1-page svg {
   height: 20px;
   margin-left: 25px;
} */

.roundabout-1-page button {
   display: flex;
   align-items: center;
   z-index: 10;
   cursor: pointer;
}

.roundabout-0-page {
   top: -20px;
   bottom: 20px;
   margin: auto;
   transition: 0.3s height, 0.3s top, 0.3s filter;
   height: calc(80% - 40px);

   border: 5px solid rgb(0,107,140);
   box-sizing: border-box;
   background-position: center center;
   background-size: cover;
   
   filter: blur(2px);
   /* Cannot change: "width", "position", "background", and "left" */

   /* NOTE: when giving any Roundabout page element a transition, be sure to give transition ONLY to the properties that need it.
      Roundabout uses transitions of 0 to accomplish seamless position adjustments. See the Mozilla documentation for examples:
      https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions#multiple_animated_properties_example
   */
}

.roundabout-0-visible-page-1 {
   height: calc(100% - 40px);
   filter: brightness(100%);
}

.roundabout-1-visible-page-0 .content-wrap {
   transform: translateY(0px);
}

.content-wrap {
   /* background: orange; */
   transform: translateY(30px);
   transition: 0.3s transform;
   padding-right: 50px;
   box-sizing: border-box;
}

.roundabout-1-page .border-button {
   font-size: max(1vw, 2vh);
}

.desc-title {
   font-family: "Miriam Libre", "Ubuntu", sans-serif;
   color: #eee;
   font-size: max(2vw, 4vh);
}

.desc-body {
   font-family: "Ubuntu", sans-serif;
   color: #ccc;
   font-size: max(1vw, 2vh);
}

.desc-skills-title {
   font-family: "Miriam Libre", "Ubuntu", sans-serif;
   color: #eee;
   font-size: max(1.5vw, 3vh);
   margin-bottom: 15px;
}

.desc-ext {
   height: 2vh;
   margin-left: 25px;
}

.desc-skills img {
   height: 30px;
   margin-right: 10px;
}

.desc-skills .size-up {
   height: 35px;
   transform: translateY(3px);
}

/* .roundabout-0-visible-page-0, .roundabout-0-visible-page-2 {
} */

/* Each page also gains the class ".roundabout-[UNIQUE ID]-page-[NTH PAGE]", 
and all visible pages gain the class ".roundabout-[UNIQUE ID]-visible-page-[NTH VISIBLE PAGE] */