/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*


*/
.main section {
  width: 85vw;
  margin: auto;
  position: relative;
  border-radius: 5px;
  margin-bottom: min(200px, 10vw);
}
.main section h2 {
  color: #eee;
  font-family: "Miriam Libre";
  font-weight: 700;
  font-size: max(2vw, 4vh);
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-top: max(6vw, 11vh);
}
.projects h2 {
  position: absolute;
  z-index: 10;
  top: 0;
}
.projects .proj-slider {
  flex: 1;
  position: relative;
  height: 90%;
  overflow: hidden;
  margin: none;
}
.projects .proj-desc {
  flex: 1;
  height: 90%;
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
}

.skills .skill-flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.skills .skill-flex .skill {
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.skills .skill-flex .skill img {
  margin-right: 2vw;
}
.skills .skill-flex .skill span {
  color: #ddd;
  font-family: "Ubuntu", sans-serif;
}
.contact .contact-alt {
  font-family: "Ubuntu", sans-serif;
  color: #ddd;
  font-size: max(12px, 1.1vw);
}
.contact .mail .open-mail {
  display: flex;
  align-items: center;
}
.contact .mail .open-mail svg {
  height: 20px;
  margin-left: 25px;
}
.contact .mail .send-to {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: #191919;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #eee;
  outline: none;
  font-size: max(1vw, 2vh);
  color: #6a6a6a;
  align-items: center;
}
.contact .mail .send-to .copy-button {
  border: 3px solid #006b8c;
  border-radius: 5px;
  color: #00b7ff;
  position: absolute;
  right: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: max(1vw, 2vh);
}
.contact .mail .send-to .address-bubble {
  background: #006b8c;
  color: #eee;
  border-radius: 1000px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  user-select: text;
}
.contact .mail .mail-form input,
.contact .mail .mail-form textarea {
  width: 100%;
  box-sizing: border-box;
  background: #191919;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #eee;
  outline: none;
  font-size: max(1vw, 2vh);
}
.contact .mail .mail-form input:-webkit-autofill:focus,
.contact .mail .mail-form input:-webkit-autofill {
  background-color: #191919;
  box-shadow: 0 0 0 50px #191919 inset !important;
  -webkit-text-fill-color: #eee !important;
  -moz-text-fill-color: #eee !important;
  -o-text-fill-color: #eee !important;
  -ms-text-fill-color: #eee !important;
}
.contact .mail .mail-form textarea {
  height: 300px;
  resize: none;
}