/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*
possible additional accents:
#1598bf - light blue
#1ac8ed

*/
.mobile-nav a .nav-btn svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

header h1, header .lAccent:after, header .rAccent:after, nav a .nav-btn svg, .social-sec .social-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
  overflow: auto;
}

a {
  text-decoration: none;
  display: block;
}

/*
============================================================================



============================================================================
*/
/*
=================

=================
*/
/*
============================================================================

HEADER

============================================================================
*/
header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #232323;
  z-index: 99999;
  box-shadow: 0px 4px 20px #111;
}
header h1 {
  color: #eee;
  font-family: "Secular One", "Raleway", "Miriam Libre", sans-serif;
  letter-spacing: 2px;
  position: absolute;
  left: 70px;
  line-height: 80px;
  transition: 0.2s;
}
header .lAccent {
  height: 80px;
  width: 15px;
  position: absolute;
  left: 0;
  background: #5415b7;
}
header .lAccent:after {
  content: "";
  height: 50px;
  width: 15px;
  position: absolute;
  left: 25px;
  background: #5415b7;
}
header .rAccent {
  height: 80px;
  width: 15px;
  position: absolute;
  right: 0;
  background: #5415b7;
}
header .rAccent:after {
  content: "";
  height: 50px;
  width: 15px;
  position: absolute;
  right: 25px;
  background: #5415b7;
}

/*
=================
DESKTOP NAV
=================
*/
nav {
  height: 80px;
  width: 700px;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  right: 50px;
}
nav a .nav-btn {
  padding: 10px;
  padding-left: 55px;
  text-align: right;
  line-height: 60px;
  display: block;
  position: relative;
  font-family: "Miriam Libre", "Raleway", "Secular One", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}
nav a .nav-btn:hover {
  background: #111;
}
nav a .nav-btn svg {
  height: 40px;
  left: 5px;
  color: #5415b7;
}

/*
=================
MOBILE NAV
=================
*/
.burger {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  right: 50px;
  display: none;
  z-index: 10;
}
.burger .burg {
  position: absolute;
  width: 25px;
  height: 3px;
  margin: auto;
  left: 0;
  right: 0;
  background: white;
  transition: 0.2s;
}

.burg0 {
  top: -18px;
  bottom: 0;
}

.burg1 {
  top: 0px;
  bottom: 0;
}

.burg2 {
  bottom: -18px;
  top: 0;
}

.burg0-active {
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
}

.burg1-active {
  opacity: 0;
}

.burg2-active {
  transform: rotate(-45deg);
  bottom: 0px;
  top: 0px;
}

.mobile-nav {
  height: 100%;
  max-width: 60%;
  left: 80px;
  background: #232323;
  position: absolute;
  justify-content: space-evenly;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  display: none;
  z-index: 5;
}
.mobile-nav a {
  height: 100%;
  position: relative;
  width: 25%;
}
.mobile-nav a .nav-btn {
  height: 100%;
  width: 60px;
  position: relative;
  transition: 0.2s;
}
.mobile-nav a .nav-btn svg {
  height: 30px;
  color: #5415b7;
}
.mobile-nav a .nav-btn:hover {
  background: #111111;
}

.mobile-nav-active {
  left: 40px;
  opacity: 1;
  visibility: visible;
}

/*
============================================================================

MAIN SECTION

============================================================================
*/
.main {
  background: orange;
  position: absolute;
  top: calc(80vh + 80px);
  width: 100%;
}

.main-sec {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.sec-head {
  width: 100%;
  background: #0576b3;
  height: 50px;
  text-align: center;
  font-family: "Secular One", "Raleway", "Miriam Libre", sans-serif;
  font-size: 25px;
  color: white;
  line-height: 50px;
}

.link-head {
  position: absolute;
  height: 10px;
  width: 100%;
  top: -80px;
}

/*
=================
HIGHLIGHTS
=================
*/
.highlight-wrap {
  background: #111111;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.highlight-wrap .highlight {
  height: 40vh;
  width: 30vh;
  background: #d8d8d8;
  margin: 5px;
}

/*
=================
PORTFOLIO
=================
*/
.portfolio-wrap {
  background: #111111;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio-wrap .port-card {
  height: 30vh;
  width: 30vh;
  margin: 5px;
  border: 5px solid #0576b3;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.portfolio-wrap .port-card:hover .port-card-title, .portfolio-wrap .port-card:hover .port-card-overlay {
  opacity: 1;
  letter-spacing: 1px;
}
.portfolio-wrap .port-card .port-card-title {
  width: 100%;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  color: white;
  z-index: 3;
  transition: 0.2s;
  opacity: 0;
}
.portfolio-wrap .port-card .port-card-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: absolute;
  transition: 0.2s;
  opacity: 0;
}

.port0 {
  background: url("../images/portfolio/todoapp.png");
  background-size: cover;
  background-position: center center;
}

.port1 {
  background: url("../images/portfolio/golfapp.png");
  background-size: cover;
  background-position: center center;
}

.port2 {
  background: url("../images/portfolio/bidapp.png");
  background-size: cover;
  background-position: center center;
}

.port3 {
  background: url("../images/portfolio/bubbles.png");
  background-size: cover;
  background-position: center center;
}

.port4 {
  background: url("../images/portfolio/2dgame.png");
  background-size: cover;
  background-position: center center;
}

.port5 {
  background: url("../images/portfolio/lander.png");
  background-size: cover;
  background-position: center center;
}

.port6 {
  background: url("../images/portfolio/carousel.png");
  background-size: cover;
  background-position: center center;
}

.port7 {
  background: url("../images/portfolio/stormcenter.png");
  background-size: cover;
  background-position: center center;
}

/*
=================
SOCIAL
=================
*/
.social {
  background: #111111;
}

.social-sec {
  height: 15vw;
  width: 100%;
  position: relative;
}
.social-sec .social-logo {
  left: 50px;
  height: 8vw;
  width: 8vw;
  color: white;
}

.soc-0 {
  background: rgba(255, 255, 255, 0);
}

.soc-1 {
  background: rgba(255, 255, 255, 0.05);
}

.soc-2 {
  background: rgba(255, 255, 255, 0);
}

/*
=================
ABOUT
=================
*/
/*
============================================================================

CAROUSEL DESKTOP VALUES

============================================================================
*/
.carousel-wrap {
  top: 80px;
  height: 80vh;
}

.carousel-btn:hover {
  background: rgba(138, 138, 138, 0.3);
}