/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*


*/
body {
  margin: 0;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

p {
  margin: auto;
}

a {
  text-decoration: none;
  margin: none;
  padding: none;
  box-sizing: border-box;
}

.links {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.main {
  background: #282828;
  position: relative;
  overflow-y: auto;
  border-right: 10px solid #282828;
  border-top: 10px solid #282828;
  border-bottom: 10px solid #282828;
}
.main footer {
  height: 40px;
  bottom: 0;
}

.border-button {
  border: 3px solid #006b8c;
  border-radius: 5px;
  color: #00b7ff;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
  font-size: max(1vw, 2vh);
  margin-right: 15px;
}

.console {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999;
}

@keyframes pop {
  0% {
    bottom: -50px;
  }
  40% {
    bottom: 100px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes float {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes moveUp {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
@keyframes moveDown {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}