/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*


*/
* {
  user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

p {
  margin: auto;
}

nav {
  height: 100%;
  width: 10vw;
  position: fixed;
  z-index: 9999;
  background: #191919;
}
nav .navigation .nav-btn::before {
  content: "";
  width: 15px;
  position: absolute;
}
nav .picture {
  height: 10vw;
  width: 10vw;
  background: #070707;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav .picture img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 7vw;
  width: 7vw;
}

.land-page {
  background: #282828;
  height: 100vh;
  width: 90vw;
  top: 0;
  left: 10vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.land-page .intro {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
}
.land-page .intro .desc {
  font-family: "Miriam Libre", "Courier New", Courier, monospace;
  font-weight: 700;
  color: #bbb;
  font-size: 3vw;
}
.land-page .showcase {
  height: 50vh;
  width: 50vh;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

.land-btn {
  border: 3px solid #006b8c;
  border-radius: 5px;
  color: #00b7ff;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  margin-top: 25px;
}

.active-nav-btn::before {
  background: #00b7ff;
}

.inactive-nav-btn::before {
  background: #006b8c;
}