/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
/*
possible additional accents:
#1598bf - light blue
#1ac8ed

*/
@media screen and (max-width: 1100px) {
  .nav-text {
    display: none;
  }

  nav {
    width: 400px;
    right: 40px;
  }
  nav a {
    height: 80px;
  }
  nav a .nav-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding: 0;
    width: 25%;
    height: 100%;
  }
  nav a .nav-btn svg {
    left: 0;
    right: 0;
  }

  .carousel-wrap {
    top: 80px;
    height: 60vh;
  }

  .carousel-btn:hover {
    background: transparent;
  }

  .main {
    top: calc(60vh + 80px);
  }

  .social-sec {
    height: 20vw;
  }

  .portfolio-wrap {
    padding-left: calc((100% - 60vh)/2 - 10px);
    padding-right: calc((100% - 60vh)/2 - 10px);
  }
}