/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/

/*


*/

$gray: #282828;
$dark-gray: #191919;
$black: #070707;
$dark-blue: rgb(0,107,140);
$light-blue: rgb(0,183,255);

$radius: 5px;


%center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
%center-x {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
%center-y {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
