/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/

/*
possible additional accents:
#1598bf - light blue
#1ac8ed

*/

$header-gray: #232323;
$bg-gray: #111111;
$light-gray: #d8d8d8;
$accent: #5415b7;
$accent-blue: #0576b3;

%center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
%center-x {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
%center-y {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
