@use "ext" as ext;
* {
	user-select: none;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 4px;
		margin-right: 5px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
		width: 4px;
		right: 55px;
		padding-right: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: #666;
		width: 2px;
		// border-radius: 10px;
		margin-right: 5px;
		transition: 0.1s;
		&:hover {
			background: ext.$dark-blue;
		}
		&:focus {
			background: ext.$light-blue;
		}
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

.body-wrap {
	position: fixed;
	// background: orange;
	// left: 10vw;
	height: 5px;
	// top: -100vh;
}

.main {
	// height: calc(--vh - 20px);
	height: calc(100vh - 20px);
}

nav {
	display: none;
	height: 5vh;
	width: 100vw;
	position: fixed;
	z-index: 9999;
	background: ext.$dark-gray;
	bottom: 0;
	// max-width: 200px;
	.navigation-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: inherit;
		height: calc(100vw - min(5vw, 100px) - min(10vw, 200px));
		position: relative;
		top: 0;
		// background: purple;
		.navigation {
			position: relative;
			margin: auto;
			top: 0;
			bottom: 0;
			// background: orange;
			width: inherit;
			.nav-btn {
				font-family: "Ubuntu", sans-serif;
				font-weight: 700;
				color: #ddd;
				position: relative;
				font-size: min(1vw, 3vh);
				border-top: 2px solid #505050;
				text-align: center;
				padding-top: 20px;
				padding-bottom: 20px;
				cursor: pointer;
				&::before {
					content: "";
					height: 100%;
					position: absolute;
					top: 0;
					width: 0%;
					background: ext.$dark-blue;
					transition: 0.2s;
					right: 50%;
					z-index: -1;
					visibility: hidden;
				}
				&::after {
					content: "";
					height: 100%;
					top: 0;
					position: absolute;
					width: 0%;
					background: ext.$dark-blue;
					transition: 0.2s;
					left: 50%;
					z-index: -1;
					visibility: hidden;
				}
				&:hover {
					&::before {
						content: "";
						height: 100%;
						position: absolute;
						top: 0;
						width: 50%;
						background: ext.$dark-blue;
						transition: 0.2s;
						right: 50%;
						z-index: -1;
						visibility: visible;
					}
					&::after {
						content: "";
						height: 100%;
						top: 0;
						position: absolute;
						width: 50%;
						background: ext.$dark-blue;
						transition: 0.2s;
						left: 50%;
						z-index: -1;
						visibility: visible;
					}
				}
			}
			&:last-child {
				border-bottom: 2px solid #505050;
			}
		}
	}

	.socials {
		bottom: 0;
		position: absolute;
		width: 10vw;
		height: 5vw;
		max-height: 100px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: ext.$black;
		svg {
			color: #ccc;
			width: 2vw;
			max-height: 50px;
		}
	}

	.picture {
		height: 10vw;
		width: 10vw;
		max-height: 200px;
		background: ext.$black;
		position: relative;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		img {
			position: absolute;
			margin: auto;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			height: 7vw;
			width: 7vw;
			max-height: 150px;
			max-width: 150px;
		}
	}
}

.land-page {
	// background: ext.$gray;
	height: 100vh;
	// width: max(90vw, calc(100% - 200px));
	width: 100vw;
	top: 0;
	// left: 10vw;
	position: relative;
	// display: flex;
	// justify-content: center;
	background-image: url("../images/backgrounds/dark texture.png");
	background-size: cover;
	animation-fill-mode: forwards;
	overflow: hidden;
	.continue-wrap {
		.continue {
			@extend %center-x;

			// border: 3px solid ext.$dark-blue;
			border: none;
			border-radius: 5px;
			color: ext.$dark-blue;
			font-family: "Ubuntu", sans-serif;
			font-weight: 700;
			padding: 5px;
			// padding-left: 25px;
			// padding-right: 25px;
			cursor: pointer;
			background: transparent;
			outline: none;
			margin-top: 25px;
			font-size: max(1vw, 2vh);
			z-index: 5;
			animation: 1s pop ease;
		}
		svg {
			@extend %center-x;
			bottom: 10px;
			color: ext.$dark-blue;
			height: 30px;
		}
	}

	.intro-wrap {
		// background: green;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		z-index: 5;
		.intro {
			position: absolute;
			z-index: 5;
			left: 40px;
			width: calc(100vw - 80px);
			.land-btn {
				border: 3px solid ext.$dark-blue;
				border-radius: 5px;
				color: ext.$light-blue;
				position: relative;
				font-family: "Ubuntu", sans-serif;
				font-weight: 700;
				padding: 5px;
				padding-left: 25px;
				padding-right: 25px;
				cursor: pointer;
				background: transparent;
				outline: none;
				margin-top: 25px;
				font-size: max(1vw, 2vh);
				margin-right: 15px;
			}
			.desc {
				font-family: "Miriam Libre", "Courier New", Courier, monospace;
				font-weight: 700;
				color: #ccc;
				font-size: max(2vw, 4vh);
				text-shadow: 5px 5px 1px #333;
			}
		}
	}

	.showcase {
		// background: purple;
		height: 50vh;
		width: 50vh;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 15px;
		z-index: 1;
		// overflow-y: hidden;
	}
}

.copy-button {
	display: none;
}
.proj-slider,
.desc-slider {
	min-width: 85vw;
}

.projects-slider {
	height: 40vh;
}

.skill {
	width: min(100px, 30vw);
	span {
		font-size: min(4vw, 8vh);
	}
}

.skills .sizeUp {
	height: min(4.5vw, 9vh);
}
.skills img {
	height: min(4vw, 6vh);
}
.skills .sizeDown {
   height: min(3vw, 5vh);
}
.address-bubble {
   font-size: min(3vw, 10vh);
}