@use "ext" as ext;
* {
	user-select: none;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 4px;
		margin-right: 5px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
		width: 4px;
		right: 55px;
		padding-right: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: #666;
		width: 2px;
		// border-radius: 10px;
		margin-right: 5px;
		transition: 0.1s;
		&:hover {
			background: ext.$dark-blue;
		}
		&:focus {
			background: ext.$light-blue;
		}
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

a.social-link {
	margin-top: 4px;
}

.body-wrap {
	position: fixed;
	// background: orange;
	// left: 10vw;
	height: 5px;
	// top: -100vh;
	transition: left 0.3s, box-shadow 0.3s;
	z-index: 5;
}

.main {
	// height: calc(--vh - 20px);
	height: calc(100vh - 20px);
	box-shadow: 0px 0px 15px black;
	clip-path: polygon(-100% -1px, 100% -1px, 100% 100%, -100% 100%);
}

.mobile-navigation-wrap {
	position: absolute;
	width: 50vw;
	background: ext.$dark-gray;
	height: 100%;
	.navigation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: inherit;
		.nav-btn {
			font-family: "Ubuntu", sans-serif;
			font-weight: 700;
			color: #ddd;
			position: relative;
			font-size: min(5vw, 3vh);
			border-top: 2px solid #505050;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			cursor: pointer;
			&:last-child {
				border-bottom: 2px solid #505050;
			}
		}
	}
}

.mobile-nav-return {
	height: 100%;
	width: 50vw;
	position: fixed;
	right: 0;
	z-index: 500;
	display: none;
}

// .quicklinks-wrap {
//    // background: purple;
//    position: fixed;
//    bottom: 5vh;
//    width: 50vw;
//    background: #1d1d1d;
//    .quicklinks {
//       transition: 0.3s;
//    }
// }

.links-open {
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
   bottom: 5vh;
   position: fixed;
   text-align: center;
   width: 50vw;
   color: #888;
}

nav {
	// display: none;
	height: 5vh;
	width: 100vw;
	position: fixed;
	z-index: 1000;
	background: ext.$black;
	bottom: 0;
	// max-width: 200px;

	.navigation-wrap {
		display: none;
	}

	.socials {
		bottom: 0;
		@extend %center-x;
		width: 40vw;
		height: 5vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		// background: ext.$black;
		img {
			color: #ccc;
			height: 3vh;
		}
	}

	.picture {
		height: 5vh;
		width: 5vh;
		max-height: 200px;
		// background: ext.$black;
		position: absolute;
		right: 10vw;
		// border-bottom-left-radius: 20px;
		// border-bottom-right-radius: 20px;
		img {
			position: absolute;
			margin: auto;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			height: 7vw;
			width: 7vw;
			max-height: 150px;
			max-width: 150px;
		}
	}

	.burger {
		height: 5vh;
		width: 5vh;
		// background: ext.$black;
		position: absolute;
		left: 10vw;
		// bottom: 0;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
		.burger-layer {
			width: 60%;
			height: 3px;
			background: ext.$dark-blue;
			transform-origin: 50% 50%;
			// margin: 2px;
			transition: 0.2s;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 99;
		}
	}
}

.land-page {
	box-shadow: 0px 0px 15px black;
	// background: ext.$gray;
	height: 100vh;
	// width: max(90vw, calc(100% - 200px));
	width: 100vw;
	top: 0;
	// left: 10vw;
	position: relative;
	// display: flex;
	// justify-content: center;
	background-image: url("../images/backgrounds/dark texture.png");
	background-size: cover;
	animation-fill-mode: forwards;
	overflow: hidden;
	.continue-wrap {
		.continue {
			@extend %center-x;

			// border: 3px solid ext.$dark-blue;
			border: none;
			border-radius: 5px;
			color: ext.$dark-blue;
			font-family: "Ubuntu", sans-serif;
			font-weight: 700;
			padding: 5px;
			// padding-left: 25px;
			// padding-right: 25px;
			cursor: pointer;
			background: transparent;
			outline: none;
			margin-top: 25px;
			font-size: max(1vw, 2vh);
			z-index: 5;
			animation: 1s pop ease;
		}
		svg {
			@extend %center-x;
			bottom: 55px;
			color: ext.$dark-blue;
			height: 30px;
		}
	}

	.intro-wrap {
		// background: green;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		z-index: 5;
		.intro {
			position: absolute;
			z-index: 5;
			left: 40px;
			width: calc(100vw - 80px);
			.land-btn {
				border: 3px solid ext.$dark-blue;
				border-radius: 5px;
				color: ext.$light-blue;
				position: relative;
				font-family: "Ubuntu", sans-serif;
				font-weight: 700;
				// padding: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
				padding-left: 25px;
				// padding-right: 25px;
				cursor: pointer;
				background: transparent;
				outline: none;
				margin-top: 25px;
				font-size: max(1vw, 2vh);
				margin-right: 15px;
			}
			.desc {
				font-family: "Miriam Libre", "Courier New", Courier, monospace;
				font-weight: 700;
				color: #ccc;
				font-size: max(2vw, 4vh);
				text-shadow: 5px 5px 1px #333;
			}
		}
	}

	.showcase {
		// background: purple;
		height: 50vh;
		width: 50vh;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 15px;
		z-index: 1;
		// overflow-y: hidden;
	}
}

footer {
	height: 60px;
	bottom: 0;
}

.b-layer-top-active {
	transform: rotate(45deg);
	top: 0;
	bottom: 0;
}

.b-layer-middle-active {
	opacity: 0;
	visibility: hidden;
	bottom: 0;
	top: 0;
}

.b-layer-bottom-active {
	transform: rotate(-45deg);
	top: 0;
	bottom: 0;
}

.b-layer-top-inactive {
	top: 1.2vh;
	bottom: 3.4vh;
}
.b-layer-middle-inactive {
	top: 0;
	bottom: 0;
}
.b-layer-bottom-inactive {
	bottom: 1.2vh;
	top: 3.4vh;
}

.copy-button {
	display: none;
}
.proj-slider,
.desc-slider {
	min-width: 85vw;
}

.projects-slider {
	height: 40vh;
}

.skill {
	width: min(100px, 30vw);
	span {
		font-size: min(4vw, 8vh);
	}
}

.skills .sizeUp {
	height: min(4.5vw, 9vh);
}
.skills img {
	height: min(4vw, 6vh);
}
.skills .sizeDown {
	height: min(3vw, 5vh);
}
.address-bubble {
	font-size: min(3vw, 10vh);
}

@keyframes pop {
	0% {
		bottom: -10px;
	}
	40% {
		bottom: 150px;
	}
	100% {
		bottom: 80px;
	}
}

@keyframes float {
	0% {
		bottom: 80px;
	}
	50% {
		bottom: 90px;
	}
	100% {
		bottom: 80px;
	}
}
