@use "ext" as ext;

* {
    user-select: none;
}
body {
    margin: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    display: block;
}

/*
============================================================================



============================================================================
*/

/*
=================

=================
*/



/*
============================================================================

HEADER

============================================================================
*/

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background: ext.$header-gray;
    z-index: 99999;
    box-shadow: 0px 4px 20px #111;

    h1 {
        color: #eee;
        font-family: "Secular One", "Raleway", "Miriam Libre", sans-serif;
        letter-spacing: 2px;
        position: absolute;
        left: 70px;
        @extend %center-y;
        line-height: 80px;
        transition: 0.2s;
    }

    .lAccent {
        height: 80px;
        width: 15px;
        position: absolute;
        left: 0;
        background: ext.$accent;
        &:after {
            content: "";
            height: 50px;
            width: 15px;
            position: absolute;
            left: 25px;
            background: ext.$accent;
            @extend %center-y;
        }
    }
    .rAccent {
        height: 80px;
        width: 15px;
        position: absolute;
        right: 0;
        background: ext.$accent;
        &:after {
            content: "";
            height: 50px;
            width: 15px;
            position: absolute;
            right: 25px;
            background: ext.$accent;
            @extend %center-y;
        }
    }
}

/*
=================
DESKTOP NAV
=================
*/

nav {
    // background: orange;
    height: 80px;
    width: 700px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    right: 50px;
    a { .nav-btn {
        padding: 10px;
        padding-left: 55px;
        text-align: right;
        line-height: 60px;
        display: block;
        // background: green;
        position: relative;
        font-family: "Miriam Libre", "Raleway", "Secular One", sans-serif;
        color: white;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background: #111;
        }
        svg {
            height: 40px;
            @extend %center-y;
            // position: relative;
            left: 5px;
            color: ext.$accent;
        }
    }}
}

/*
=================
MOBILE NAV
=================
*/

.burger {
    // background: orange;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    right: 50px;
    display: none;
    z-index: 10;
    .burg {
        position: absolute;
        width: 25px;
        height: 3px;
        margin: auto;
        left: 0;
        right: 0;
        background: white;
        transition: 0.2s;
    }
}

.burg0 {
    top: -18px;
    bottom: 0;
}
.burg1 {
    top: 0px;
    bottom: 0;
}
.burg2 {
    bottom: -18px;
    top: 0;
}

.burg0-active {
    // transform: rotate(225deg);
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
}
.burg1-active {
    // top: 10px;
    // bottom: -10px;
    opacity: 0;
}
.burg2-active {
    // transform: rotate(-225deg);
    transform: rotate(-45deg);
    bottom: 0px;
    top: 0px;
}

.mobile-nav {
    height: 100%;
    max-width: 60%;
    // width: 50%;
    // right: 0;
    left: 80px;
    background: ext.$header-gray;
    // background: orange;
    position: absolute;
    justify-content: space-evenly;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: 5;
    a {
        height: 100%;
        position: relative;
        width: 25%;
        .nav-btn {
            height: 100%;
            width: 60px;
            // background: green;
            position: relative;
            transition: 0.2s;
            svg {
                height: 30px;
                @extend %center;
                color: ext.$accent;
            }
            &:hover {
                background: ext.$bg-gray;
            }
        }
    } 
}

.mobile-nav-active {
    // right: 60px;
    left: 40px;
    opacity: 1;
    visibility: visible;
}

/*
============================================================================

MAIN SECTION

============================================================================
*/

.main {
    background: orange;
    position: absolute;
    top: calc(80vh + 80px);
    width: 100%;
}

.main-sec {
    width: 100%;
    // background: ext.$bg-gray;
    position: relative;
    // padding: 5px;
    box-sizing: border-box;
    // border-bottom: 10px solid ext.$accent;
}

.sec-head {
    width: 100%;
    background: ext.$accent-blue;
    height: 50px;
    text-align: center;
    font-family: "Secular One", "Raleway", "Miriam Libre", sans-serif;
    font-size: 25px;
    color: white;
    line-height: 50px;
}

.link-head {
    position: absolute;
    height: 10px;
    width: 100%;
    // background: green;
    top: -80px;
}

/*
=================
HIGHLIGHTS
=================
*/

.highlight-wrap {
    background: ext.$bg-gray;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    .highlight {
        height: 40vh;
        width: 30vh;
        background: ext.$light-gray;
        margin: 5px;
    }
}

/*
=================
PORTFOLIO
=================
*/

.portfolio-wrap {
    background: ext.$bg-gray;
    width: 100%;
    // padding-top: 40px;
    // padding-bottom: 40px;
    padding: 40px;
    // padding-left: calc((100% - 60vh)/2);
    // padding-right: calc((100% - 60vh)/2 - );
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .port-card {
        height: 30vh;
        width: 30vh;
        // background: ext.$light-gray;
        margin: 5px;
        border: 5px solid ext.$accent-blue;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        &:hover .port-card-title, &:hover .port-card-overlay {
            opacity: 1;
            letter-spacing: 1px;
        }
        .port-card-title {
            // height: 100%;
            width: 100%;
            // position: absolute;
            text-align: center;
            font-family: "Raleway";
            font-weight: 600;
            color: white;
            z-index: 3;
            transition: 0.2s;
            opacity: 0;
        }
        .port-card-overlay {
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.8);
            z-index: 2;
            position: absolute;
            transition: 0.2s;
            opacity: 0;
        }
    }
}

.port0 {
    background: url("../images/portfolio/todoapp.png");
    background-size: cover;
    background-position: center center;
}
.port1 {
    background: url("../images/portfolio/");
    background-size: cover;
    background-position: center center;
}
.port2 {
    background: url("../images/portfolio/bidapp.png");
    background-size: cover;
    background-position: center center;
}
.port3 {
    background: url("../images/portfolio/bubbles.png");
    background-size: cover;
    background-position: center center;
}
.port4 {
    background: url("../images/portfolio/2dgame.png");
    background-size: cover;
    background-position: center center;
}
.port5 {
    background: url("../images/portfolio/lander.png");
    background-size: cover;
    background-position: center center;
}
.port6 {
    background: url("../images/portfolio/carousel.png");
    background-size: cover;
    background-position: center center;
}

/*
=================
SOCIAL
=================
*/

.social {
    background: ext.$bg-gray;
}

.social-sec {
    height: 15vw;
    width: 100%;
    position: relative;
    .social-logo {
        @extend %center-y;
        left: 50px;
        height: 8vw;
        width: 8vw;
        color: white;
    }
}

.soc-0 {
    background: rgba(255,255,255,0);
}
.soc-1 {
    background: rgba(255, 255, 255, 0.05);
}
.soc-2 {
    background: rgba(255,255,255,0);
}

/*
=================
ABOUT
=================
*/


/*
============================================================================

CAROUSEL DESKTOP VALUES

============================================================================
*/

.carousel-wrap {
    top: 80px;
    height: 80vh;
}

.carousel-btn:hover {
    background: rgba(138, 138, 138, 0.3);
}