@use "ext" as ext;

body {
	margin: 0;
	overflow: hidden;
	position: relative;
	scroll-behavior: smooth;
}
html, body {
   height: 100%;
}

p {
	margin: auto;
}

a {
	text-decoration: none;
   margin: none;
   padding: none;
   box-sizing: border-box;
}

a.weblink {
   color: ext.$light-blue;
   font-family: "Ubuntu", sans-serif;
}

.links {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.main {
	background: ext.$gray;
	// width: calc(90vw - 10px);
	// width: min(90vw, calc(100% - 200px));

	// top: 0vh;
	// left: 10vw;
	position: relative;
	// display: flex
	overflow-y: auto;
	border-right: 10px solid ext.$gray;
	border-top: 10px solid ext.$gray;
	border-bottom: 10px solid ext.$gray;
}

.border-button {
	border: 3px solid ext.$dark-blue;
	border-radius: 5px;
	color: ext.$light-blue;
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	cursor: pointer;
	background: transparent;
	outline: none;
	margin-top: 25px;
	font-size: max(1vw, 2vh);
	margin-right: 15px;
}

.console {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999999;
}

@keyframes moveUp {
	0% {
		top: 0;
	}
	100% {
		top: -100vh;
	}
}

@keyframes moveDown {
	0% {
		top: -100vh;
	}
	100% {
		top: 0;
	}
}
