@use "ext" as ext;

* {
    user-select: none;
}
body {
    margin: 0;
}

/*
============================================================================



============================================================================
*/

/*
=================

=================
*/



/*
============================================================================

HEADER

============================================================================
*/

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background: ext.$header-gray;
    z-index: 99999;
    box-shadow: 0px 4px 20px #333;

    h1 {
        color: #eee;
        font-family: "Secular One", "Raleway", "Miriam Libre", sans-serif;
        letter-spacing: 2px;
        position: absolute;
        left: 70px;
        @extend %center-y;
        line-height: 80px;
    }

    .lAccent {
        height: 80px;
        width: 15px;
        position: absolute;
        left: 0;
        background: ext.$accent;
        &:after {
            content: "";
            height: 50px;
            width: 15px;
            position: absolute;
            left: 25px;
            background: ext.$accent;
            @extend %center-y;
        }
    }
    .rAccent {
        height: 80px;
        width: 15px;
        position: absolute;
        right: 0;
        background: ext.$accent;
        &:after {
            content: "";
            height: 50px;
            width: 15px;
            position: absolute;
            right: 25px;
            background: ext.$accent;
            @extend %center-y;
        }
    }
}

nav {
    // background: orange;
    height: 80px;
    width: 700px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    right: 50px;
    .nav-btn {
        padding: 10px;
        padding-left: 55px;
        text-align: right;
        line-height: 60px;
        display: block;
        // background: green;
        position: relative;
        font-family: "Miriam Libre", "Raleway", "Secular One", sans-serif;
        color: white;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background: #111;
        }
        svg {
            height: 40px;
            @extend %center-y;
            // position: relative;
            left: 5px;
            color: ext.$accent;
        }
    }
}

.carousel-wrap {
    top: 80px;
}

.carousel-btn:hover {
    background: rgba(138, 138, 138, 0.3);
}

.burger {
    // background: orange;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    right: 50px;
    display: none;
    z-index: 10;
    .burg {
        position: absolute;
        width: 25px;
        height: 3px;
        margin: auto;
        left: 0;
        right: 0;
        background: white;
        transition: 0.2s;
    }
}

.burg1 {
    top: -18px;
    bottom: 0;
}
.burg2 {
    top: 0px;
    bottom: 0;
}
.burg3 {
    bottom: -18px;
    top: 0;
}

.burg1-active {
    // transform: rotate(225deg);
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
}
.burg2-active {
    // top: 10px;
    // bottom: -10px;
    opacity: 0;
}
.burg3-active {
    // transform: rotate(-225deg);
    transform: rotate(-45deg);
    bottom: 0px;
    top: 0px;
}

.mobile-nav {
    height: 100%;
    width: 60%;
    // right: 0;
    left: 80px;
    background: ext.$header-gray;
    // background: orange;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    .nav-btn {
        height: 100%;
        width: 60px;
        // background: green;
        position: relative;
        transition: 0.2s;
        svg {
            height: 30px;
            @extend %center;
            color: ext.$accent;
        }
        &:hover {
            background: ext.$bg-gray;
        }
    }
}

.mobile-nav-active {
    // right: 60px;
    left: 40px;
    opacity: 1;
    visibility: visible;
}