/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
canvas, .palette .palette-options div svg, .arrows svg, .color-modal .colors-edit div svg, .color-modal .modal-button svg, .rotator, .rotator:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
  background: whitesmoke;
  overflow: hidden;
}

canvas {
  background: white;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 0px 30px #aaa;
}

.preview {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.controls {
  width: 30%;
  height: calc(100% - 45px);
  position: absolute;
  box-shadow: 5px 0px 5px #ddd;
  background: white;
  overflow: auto;
}
.controls .text-input {
  height: 90px;
}
.controls .range-input {
  height: 60px;
}
.controls .palette-input {
  display: flex;
  flex-direction: column;
}
.controls .outline-input {
  height: 80px;
}
.controls .outline-input .outline-color {
  border: none;
  height: 40px;
  width: 40px;
  position: relative;
  margin: none;
  outline: none;
}
.controls .control {
  width: 90%;
  background: white;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 10px;
}
.controls .control .control-section {
  position: relative;
  box-sizing: border-box;
}
.controls .control .control-section input[type=number] {
  position: relative;
  width: calc(90% - 22px);
  border: 1px solid #ccc;
  padding: 10px;
}
.controls .control .desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  color: #777;
  width: 100%;
}
.controls .control input:not([type=color]) {
  margin: auto;
  border-radius: 100px;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  outline: none;
  color: #333;
}
.controls .control input[type=range] {
  width: 100%;
  border: none;
  position: absolute;
  bottom: 0;
}
.controls .control input[type=checkbox] {
  position: relative;
  height: 20px;
  width: 20px;
}

.palette {
  position: relative;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: stretch;
  cursor: pointer;
  background: gray;
  margin-bottom: 10px;
}
.palette .p-color {
  height: 40px;
  flex: 1;
}
.palette .palette-options {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.1s;
  display: flex;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.palette .palette-options div {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  flex: 1;
  transition: 0.1s;
}
.palette .palette-options div:hover {
  background: rgba(0, 0, 0, 0.5);
}
.palette .palette-options div svg {
  height: 20px;
  width: 20px;
  color: white;
}
.palette:hover .palette-options {
  opacity: 1;
}

.reset-btn {
  color: #ddd;
}

.action-btn {
  font-family: "Ubuntu", sans-serif;
  color: #ddd;
  margin-left: 10px;
  margin-top: 20px;
  height: 15px;
  font-size: 12px;
  cursor: pointer;
}
.action-btn:hover {
  color: #33acbe;
}

.btn-wrap {
  display: flex;
  align-items: stretch;
  width: 90%;
  margin-bottom: 10px;
}
.btn-wrap .btn-connect {
  flex: 1;
  box-sizing: border-box;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.tools {
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  background: white;
  width: 30%;
  height: 45px;
  box-shadow: 5px 0px 5px #ddd;
}
.tools .btn-wrap {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 5px;
}

.arrows svg {
  height: 25px;
  width: 25px;
  transition: 0.1s;
}

.palette-active {
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #47cee4;
}

.arrow-1-s svg {
  transform: rotate(90deg);
}

.arrow-2-s svg {
  transform: rotate(180deg);
}

.arrow-3-s svg {
  transform: rotate(270deg);
}

.arrow-4-s svg {
  transform: rotate(0deg);
}

.arrow-1-d svg {
  transform: rotate(135deg);
}

.arrow-2-d svg {
  transform: rotate(225deg);
}

.arrow-3-d svg {
  transform: rotate(315deg);
}

.arrow-4-d svg {
  transform: rotate(45deg);
}

.btn-left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid #47cee4;
  border-right: 1px solid #47cee4;
}

.btn-middle {
  border: 2px solid #47cee4;
  border-right: 1px solid #47cee4;
  border-left: 1px solid #47cee4;
}

.btn-right {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 2px solid #47cee4;
  border-left: 1px solid #47cee4;
}

.btn-selected, .grad-btn-selected {
  background: #47cee4;
  color: white;
}

:not(input):not(p):not(.action-btn):not(.grad-btn):not(.btn-selected), .select-radial:not(.grad-btn-selected), .select-linear:not(.grad-btn-selected) {
  color: #47cee4;
}

.hidden-control {
  display: none;
}

.control:not(.hidden-control) {
  display: flex;
}

.disabler {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 5;
}

.enabled-disabler {
  background: transparent;
  height: 100%;
  width: 100%;
}

.disabled {
  filter: brightness(50%);
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.color-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  height: 300px;
  width: 500px;
  box-shadow: 0px 0px 8px #555;
  border-radius: 10px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.color-modal .save-new {
  border-radius: 100px;
  border: 2px solid #47cee4;
  box-sizing: border-box;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  color: #47cee4;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  bottom: 20px;
}
.color-modal .colors-wrap {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 130px;
  position: absolute;
}
.color-modal .colors-wrap .edit-color {
  height: 40px;
  width: 40px;
  align-self: center;
  margin: 5px;
  cursor: pointer;
}
.color-modal .colors-wrap .edit-color input {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  height: inherit;
  width: inherit;
  position: relative;
  opacity: 0;
}
.color-modal .colors-edit {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  bottom: 100px;
  position: absolute;
}
.color-modal .colors-edit div {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.color-modal .colors-edit div svg {
  color: #222;
}
.color-modal .colors-edit div svg:hover {
  color: #47cee4;
}
.color-modal .modal-button {
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  line-height: 30px;
  font-family: "Roboto";
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
}
.color-modal .modal-cancel {
  right: 20px;
  top: 20px;
  color: #333;
  transition: 0.1s;
}
.color-modal .modal-cancel:hover {
  color: #ce2222;
}
.color-modal .modal-confirm {
  right: 30px;
  bottom: 20px;
  color: #333;
  transition: 0.1s;
}
.color-modal .modal-confirm:hover {
  color: #47cee4;
}

input[type=range] {
  appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  appearance: none;
  border-radius: 100px;
  height: 5px;
  background: #47cee4;
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 0;
  width: 0;
  position: relative;
  margin-top: -15px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #33acbe;
}

.rotator {
  z-index: 10;
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 100%;
}
.rotator:after {
  content: "";
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid white;
}

.debug {
  width: 100%;
  position: absolute;
  left: 0;
}

#downloader {
  display: none;
}