/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
}

.wrap {
  z-index: 5;
}

.bubble {
  position: absolute;
}

.mousescan {
  position: absolute;
}

.readout {
  font-family: monospace;
}

.forcefield {
  position: absolute;
  border-radius: 100%;
  opacity: 0.3;
}