div.code {
  background: #252525;
  border-radius: 5px;
  font-family: monospace;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  color: #ddd;
}
div.code::-webkit-scrollbar {
  height: 5px;
  margin-right: 5px;
  cursor: default;
}
div.code::-webkit-scrollbar-track {
  background: transparent;
  cursor: default;
}
div.code::-webkit-scrollbar-thumb {
  background: #666;
  height: 5px;
  border-radius: 10px;
  cursor: default;
}
div.code::-webkit-scrollbar-button {
  display: none;
}

div.code:not(.code-collapse) {
  padding-top: 15px;
}

.code-collapse {
  padding-top: 25px;
  overflow-y: hidden;
  position: relative;
}
.code-collapse div {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  user-select: none;
  cursor: pointer;
}
.code-collapse div svg {
  height: 15px;
  min-width: 15px;
  margin-left: 5px;
  margin-top: 1px;
}