/*
Removing parts from here, putting inline to the js
*/

body {
    margin: 0;
    background: #111;
}

* {
    user-select: none;
}

/*
===============
Slider
===============
*/

.slider {
    height: 700px;
    width: 1250px;
    /* background: purple; */
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 20px;
    overflow: hidden;
}

.carousel-nav {
    height: 50px;
    width: 400px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
}

.carousel-btnL {
    height: 50px;
    width: 50px;
    left: 0;
    position: absolute;
}
.carousel-btnR {
    height: 50px;
    width: 50px;
    right: 0;
    position: absolute;
}

.carousel-bubbles {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    padding-top: 19px;
	display: flex;
	justify-content: space-around;
}

.carousel-btn svg {
    filter: invert(100%);
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
}

.carousel-bubble {
	height: 8px;
	width: 8px;
	border-radius: 100%;
	border: 2px solid white;
	display: inline-block;
    transition: 0.2s;
    cursor: pointer;
}

.carousel-active-bubble {
    background: white;
}
.carousel-inactive-bubble {
    background: transparent;
}

.svg-l {
    right: 0;
}
.svg-r {
    left: 0;
}

/* COPY EXACTLY */

.carousel-image {
	height: 100%;
	width: 100%;
	background-position: calc(center + 300px) center;
	background-size: cover;
    top: 0;
    position: absolute;
}

.carousel-page-wrap {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}