body {
    overflow: hidden;
    margin: 0;
    background: #00002f;
}

.rocket {
    background: white;
    height: 65px;
    width: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;    /* point   cone r    boost r t   bst r b   bst r bl   bst >body  bdy btm                                                                                                                     */
    clip-path: polygon(50px 0px, 60px 10px, 60px 30px, 70px 40px, 70px 60px, 55px 65px, 55px 60px, 45px 60px, 45px 65px, 30px 60px, 30px 40px, 40px 30px, 40px 10px, 50px 0px);
}

.ship {
    height: 200px;
    width: 200px;
    /* background: purple; */
    position: absolute;
    z-index: 998;
}

.hud {
    height: 200px;
    width: 100px;
    border: 2px solid lime;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    border-left: none;
}

.f-l {
    border: 5px solid transparent;
    border-top: 10px solid orange;
    position: absolute;
    top: 128px;
    left: 79px;
    transition: 0.2s;
    transform: rotate(20deg);
    opacity: 0;
    animation: 0.1s flicker linear infinite;
}
.f-r {
    border: 5px solid transparent;
    border-top: 10px solid orange;
    position: absolute;
    top: 128px;
    right: 79px;
    transition: 0.2s;
    transform: rotate(-20deg);
    opacity: 0;
    animation: 0.1s flicker linear infinite;
    animation-delay: 0.05s;
}

.center {
    position: absolute;
    height: 2px;
    width: 2px;
    background: red;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.fixedGround {
    height: 50px;
    width: 100%;
    background: #ababab;
    position: absolute;
    bottom: 0;
    z-index: 990;
    /* display: none; */
}

.star {
    height: 2px;
    width: 2px;
    background: white;
    border-radius: 100%;
    position: absolute;
    filter: blur(1px);
}

.shadow {
    height: 50px;
    width: 50px;
    background: #000000b3;
    position: absolute;
    bottom: 15px;
    z-index: 9999;
    clip-path: ellipse(50% 20% at 50% 50%);
    display: none;
}

.readout {
    color: orange;
    z-index: 1000;
    position: absolute;
    left: 5px;
    top: 5px;
    font-family: monospace;
}

@keyframes flicker {
    0% {
        border-top: 10px solid orange;
    }
    50% {
        border-top: 5px solid orange;
    }
    100% {
        border-top: 10px solid orange;
    }
}