.roundabout-wrapper {
   margin-bottom: 50px;
}

#type-2 .roundabout-active-nav-btn {
   border: 3px solid white;
}

#type-2 .roundabout-inactive-nav-btn {
   border: none;
}

#type-2 .roundabout-page, 
#type-2 .roundabout-ui, 
#type-2 .roundabout-swipe-overlay {
   height: calc(100% - 110px);
}

#type-2 .roundabout-ui .roundabout-nav-wrap {
   width: 100%;
   background: #333;
   height: 100px;
}

#type-2 .roundabout-nav-btn {
   flex: 1;
   border-radius: 0;
   height: calc(100% - 6px);
   margin: 3px;
   box-sizing: border-box;
   transition: 0s;
}

#type-2 .roundabout-1-nav-btn-0 {
   background: url("../images/numbers/0.png");
   background-size: cover;
   background-position: center center;
}
#type-2 .roundabout-1-nav-btn-1 {
   background: url("../images/numbers/1.png");
   background-size: cover;
   background-position: center center;
}
#type-2 .roundabout-1-nav-btn-2 {
   background: url("../images/numbers/2.png");
   background-size: cover;
   background-position: center center;
}
#type-2 .roundabout-1-nav-btn-3 {
   background: url("../images/numbers/3.png");
   background-size: cover;
   background-position: center center;
}
#type-2 .roundabout-1-nav-btn-4 {
   background: url("../images/numbers/4.png");
   background-size: cover;
   background-position: center center;
}
#type-2 .roundabout-1-nav-btn-5 {
   background: url("../images/numbers/5.png");
   background-size: cover;
   background-position: center center;
}


#type-3 .roundabout-page {
   height: 80%;
   margin: auto;
   top: 0;
   bottom: 0;
   transition: height 0.3s;
}

#type-3 .roundabout-2-visible-page-1 {
   height: 100%;
}

#type-5 {
   height: 25vh;
}

#type-6-2 {
   height: 20vh;
}

#type-6-2 .interactive-nav {
   position: absolute;
   height: 100%;
   width: 100%;
   cursor: pointer;
   z-index: 5;
}