/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
.loader-wrap #loader, .loader-wrap #loader-title, .loader-wrap #loader-progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.loader-wrap {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}
.loader-wrap #loader {
  background: white;
  max-width: 50%;
}
.loader-wrap #loader-title {
  color: #e8e8e8;
  text-align: center;
  height: 10px;
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  text-shadow: 2px 2px 2px #272424;
  font-size: 30px;
  top: -250px;
}
.loader-wrap #loader-progress {
  color: #e8e8e8;
  text-align: center;
  height: 10px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 2px #272424;
  font-style: italic;
  bottom: -50px;
}
.loader-wrap #loader-progress span {
  margin-bottom: 10px;
  display: block;
}