/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
.popup-bg .popup .popup-preview-wrap .popup-add-color-stop, #popup-stop-controls-wrap div svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.popup-bg {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: fixed;
}
.popup-bg .popup {
  transform: translate(300px, 300px);
  height: min(40vw, 400px);
  width: min(50vw, 500px);
  background: #333;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 15px black;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.popup-bg .popup .popup-preview-wrap {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.popup-bg .popup .popup-preview-wrap .popup-add-color-stop {
  width: 80%;
  height: 25px;
  top: 25px;
  cursor: copy;
  appearance: none;
  background: transparent;
}
.popup-bg .popup .popup-preview-wrap .popup-add-color-stop::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent;
}
.popup-bg .popup .popup-preview-wrap .popup-add-color-stop::-webkit-slider-thumb {
  appearance: none;
  border-radius: 0;
  height: 10px;
  width: 10px;
  background: transparent;
}
.popup-bg .popup input[type=range]:not(.popup-add-color-stop) {
  width: 80%;
  position: absolute;
  top: calc(50% + 5px);
  appearance: none;
  background: transparent;
}
.popup-bg .popup input[type=range]:not(.popup-add-color-stop)::-webkit-slider-runnable-track {
  appearance: none;
  border-radius: 100px;
  height: 0px;
  background: #333;
}
.popup-bg .popup input[type=range]:not(.popup-add-color-stop)::-moz-range-track {
  appearance: none;
  background: transparent;
}
.popup-bg .popup input[type=range]:not(.popup-add-color-stop)::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
}
.popup-bg .popup .popup-pointer {
  height: 0;
  width: 0;
  border-right: 5px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: 0;
  left: -5px;
}
.popup-bg .popup .popup-title {
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  color: #e8e8e8;
  font-size: 2vw;
}
.popup-bg .popup .popup-preview {
  width: 80%;
  align-self: center;
  height: 50%;
  border-radius: 3px;
}
.popup-bg .popup .popup-button-wrap {
  justify-self: flex-end;
}
.popup-bg .popup button {
  justify-self: flex-end;
}

.popup-stop-selected::-webkit-slider-thumb {
  border: 2px solid white;
}
.popup-stop-selected::-moz-range-thumb {
  border: 2px solid white;
}

.popup-range-stop {
  --thumb-color: white;
}
.popup-range-stop::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: var(--thumb-color);
}

.popup-color-picker {
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
}

#popup-stop-controls-wrap {
  border: 1px solid #00b7ff;
  padding: 5px;
  background: #191919;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  display: flex;
}
#popup-stop-controls-wrap div {
  flex: 1;
  position: relative;
}
#popup-stop-controls-wrap div input {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: relative;
  opacity: 0;
  cursor: pointer;
}
#popup-stop-controls-wrap div svg {
  height: 60%;
  filter: saturate(0) grayscale(1) brightness(0.7) contrast(1000%) invert(1);
  cursor: pointer;
}