/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
#popup-stop-controls-wrap div svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.popup-bg {
  height: 100%;
  width: 100%;
  z-index: 100;

.popup {
  transform: translate(300px, 300px);
  height: min(30vw, 300px);
  width: min(50vw, 500px);
  background: #333;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
  position: absolute;
}
.popup .popup-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: calc(95% - min(5vw, 50px) - 40px);
  font-family: "Ubuntu", sans-serif;
  color: #e8e8e8;
}
.popup .popup-title {
  background: #282828;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: min(5vw, 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
  box-sizing: border-box;
  align-items: center;
  cursor: move;
}
.popup .popup-title .popup-title-text {
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  color: #e8e8e8;
  font-size: min(2vw, 20px);
}
.popup .popup-title svg {
  position: relative;
  right: 0;
  height: min(2vw, 28px);
  color: #e77979;
  cursor: pointer;
}
.popup .popup-button-wrap {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}
.popup .popup-button-wrap button {
  border: none;
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  background: #282828;
  padding: 6px 25px;
  border-radius: 5px;
  font-size: max(10px, min(0.8vw, 15px));
  cursor: pointer;
  margin-left: 10px;
}
.popup .popup-button-wrap .popup-save {
  color: #00b7ff;
}
.popup .popup-button-wrap .popup-cancel {
  color: #e77979;
}
.popup .popup-button-wrap .popup-space-stops {
  color: #00b7ff;
  justify-self: flex-start;
  margin-right: auto;
  margin-left: 0;
}

#popup-stop-controls-wrap {
  border: 1px solid #00b7ff;
  padding: 5px;
  background: #191919;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  display: flex;
}
#popup-stop-controls-wrap div {
  flex: 1;
  position: relative;
}
#popup-stop-controls-wrap div input {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: relative;
  opacity: 0;
  cursor: pointer;
}
#popup-stop-controls-wrap div svg {
  height: 60%;
  filter: saturate(0) grayscale(1) brightness(0.7) contrast(1000%) invert(1);
  cursor: pointer;
}

.popup-stop-selected::-webkit-slider-thumb {
  border: 2px solid white;
}
.popup-stop-selected::-moz-range-thumb {
  border: 2px solid white;
}

.gradient-editor-popup input[type=range]:not(.popup-add-color-stop) {
  width: 100%;
  position: absolute;
  appearance: none;
  background: transparent;
}
.gradient-editor-popup input[type=range]:not(.popup-add-color-stop)::-webkit-slider-runnable-track {
  appearance: none;
  border-radius: 100px;
  height: 0px;
  background: #333;
}
.gradient-editor-popup input[type=range]:not(.popup-add-color-stop)::-moz-range-track {
  appearance: none;
  background: transparent;
}
.gradient-editor-popup input[type=range]:not(.popup-add-color-stop)::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
}

.gradient-editor-body-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
  align-items: center;
}
.gradient-editor-body-wrap .gradient-editor-stop-wrap {
  width: 80%;
  position: relative;
  margin: 0;
  left: 0;
  right: 0;
  height: 25px;
}
.gradient-editor-body-wrap .gradient-editor-preview {
  width: 80%;
  align-self: center;
  height: 50%;
  border-radius: 3px;
}
.gradient-editor-body-wrap .popup-range-stop {
  --thumb-color: white;
  margin: 0;
}
.gradient-editor-body-wrap .popup-range-stop::-webkit-slider-thumb {
  appearance: none;
  height: max(12px, min(1vw, 18px));
  width: max(12px, min(1vw, 18px));
  border-radius: 100%;
  background: var(--thumb-color);
}
.gradient-editor-body-wrap .popup-add-color-stop {
  width: 100%;
  height: 25px;
  cursor: copy;
  appearance: none;
  background: transparent;
  position: absolute;
  margin: 0;
}
.gradient-editor-body-wrap .popup-add-color-stop::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent;
}
.gradient-editor-body-wrap .popup-add-color-stop::-webkit-slider-thumb {
  appearance: none;
  border-radius: 0;
  height: max(1vw, 10px);
  width: max(1vw, 10px);
  background: transparent;
}

.popup-body-text {
  width: 70%;
  text-align: center;
  line-height: 22px;
  font-size: min(2vw, 18px);
}

.popup.info-popup {
  height: max-content;
}
.popup.info-popup .popup-body {
  height: max-content;
  max-height: 80vh;
  overflow-y: auto;
  display: block;
}
.popup.info-popup .popup-body .popup-body-text {
  text-align: initial;
  margin-top: 0;
  padding: 10px;
  width: calc(100% - 20px);
}
.popup.info-popup .popup-button-wrap {
  width: calc(100% - 40px);
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: -100%;
  background: inherit;
  position: relative;
}