@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: "Miriam Libre";
	src: url("../fonts/MiriamLibre-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Miriam Libre";
	src: url("../fonts/MiriamLibre-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Miriam Libre";
	src: url("../fonts/MiriamLibre-Medium.ttf");
	font-weight: medium;
} */

@font-face {
	font-family: "Miriam Libre";
	src: url("/assets/fonts/MiriamLibre.ttf");
}

@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu-Light.ttf");
	font-weight: lighter;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/assets/fonts/Ubuntu-Medium.ttf");
	font-weight: medium;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("/assets/fonts/UbuntuMono-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("/assets/fonts/UbuntuMono-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("/assets/fonts/UbuntuMono-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("/assets/fonts/UbuntuMono-Light.ttf");
	font-weight: lighter;
}