body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    background: #222;
}

.platform {
    position: absolute;
    color: white;
    font-size: 20px;
    /* background: green; */
}

.world {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 10px solid #2d2d2d;
}

/* .player {
    height: 30px;
    width: 30px;
    bottom: 0;
    background: white;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
} */

.player {
    height: 8px;
    width: 8px;
    /* background: orange; */
    box-shadow: 56px 8px rgb(112, 45, 0), 32px 16px rgb(112, 45, 0), 40px 16px rgb(112, 45, 0), 48px 16px rgb(112, 45, 0), 56px 16px rgb(112, 45, 0), 32px 24px rgb(112, 45, 0), 40px 24px rgb(112, 45, 0), 48px 24px rgb(253, 213, 104), 56px 24px rgb(253, 213, 104), 24px 32px rgb(145, 145, 145), 32px 32px rgb(112, 45, 0), 40px 32px rgb(253, 213, 104), 48px 32px rgb(253, 213, 104), 56px 32px rgb(253, 213, 104), 64px 32px rgb(145, 145, 145), 16px 40px rgb(145, 145, 145), 24px 40px rgb(145, 145, 145), 32px 40px rgb(253, 213, 104), 40px 40px rgb(253, 213, 104), 48px 40px rgb(253, 213, 104), 56px 40px rgb(253, 213, 104), 64px 40px rgb(145, 145, 145), 72px 40px rgb(145, 145, 145), 16px 48px rgb(145, 145, 145), 24px 48px rgb(145, 145, 145), 32px 48px rgb(253, 213, 104), 40px 48px rgb(253, 213, 104), 48px 48px rgb(253, 213, 104), 56px 48px rgb(253, 213, 104), 64px 48px rgb(145, 145, 145), 72px 48px rgb(145, 145, 145), 16px 56px rgb(145, 145, 145), 24px 56px rgb(23, 23, 23), 32px 56px rgb(145, 145, 145), 40px 56px rgb(253, 213, 104), 48px 56px rgb(253, 213, 104), 56px 56px rgb(145, 145, 145), 64px 56px rgb(23, 23, 23), 72px 56px rgb(145, 145, 145), 16px 64px rgb(145, 145, 145), 24px 64px rgb(23, 23, 23), 32px 64px rgb(3, 6, 94), 40px 64px rgb(253, 213, 104), 48px 64px rgb(253, 213, 104), 56px 64px rgb(3, 6, 94), 64px 64px rgb(23, 23, 23), 72px 64px rgb(145, 145, 145), 16px 72px rgb(229, 6, 6), 24px 72px rgb(23, 23, 23), 32px 72px rgb(229, 6, 6), 40px 72px rgb(3, 6, 94), 48px 72px rgb(3, 6, 94), 56px 72px rgb(229, 6, 6), 64px 72px rgb(23, 23, 23), 72px 72px rgb(229, 6, 6), 8px 80px rgb(229, 6, 6), 16px 80px rgb(229, 6, 6), 24px 80px rgb(188, 6, 6), 32px 80px rgb(23, 23, 23), 40px 80px rgb(229, 6, 6), 48px 80px rgb(229, 6, 6), 56px 80px rgb(23, 23, 23), 64px 80px rgb(188, 6, 6), 72px 80px rgb(229, 6, 6), 80px 80px rgb(229, 6, 6), 8px 88px rgb(229, 6, 6), 16px 88px rgb(229, 6, 6), 24px 88px rgb(188, 6, 6), 32px 88px rgb(23, 23, 23), 40px 88px rgb(229, 6, 6), 48px 88px rgb(229, 6, 6), 56px 88px rgb(23, 23, 23), 64px 88px rgb(188, 6, 6), 72px 88px rgb(229, 6, 6), 80px 88px rgb(229, 6, 6), 8px 96px rgb(229, 6, 6), 16px 96px rgb(229, 6, 6), 24px 96px rgb(229, 6, 6), 32px 96px rgb(23, 23, 23), 40px 96px rgb(229, 6, 6), 48px 96px rgb(229, 6, 6), 56px 96px rgb(23, 23, 23), 64px 96px rgb(229, 6, 6), 72px 96px rgb(229, 6, 6), 80px 96px rgb(229, 6, 6), 16px 104px rgb(229, 6, 6), 24px 104px rgb(229, 6, 6), 32px 104px rgb(253, 213, 104), 40px 104px rgb(23, 23, 23), 48px 104px rgb(23, 23, 23), 56px 104px rgb(253, 213, 104), 64px 104px rgb(229, 6, 6), 72px 104px rgb(229, 6, 6), 24px 112px rgb(188, 6, 6), 32px 112px rgb(253, 213, 104), 40px 112px rgb(253, 213, 104), 48px 112px rgb(23, 23, 23), 56px 112px rgb(253, 213, 104), 64px 112px rgb(188, 6, 6), 24px 120px rgb(229, 6, 6), 32px 120px rgb(23, 23, 23), 40px 120px rgb(229, 6, 6), 48px 120px rgb(229, 6, 6), 56px 120px rgb(23, 23, 23), 64px 120px rgb(229, 6, 6), 24px 128px rgb(23, 23, 23), 32px 128px rgb(21, 2, 116), 40px 128px rgb(36, 9, 170), 48px 128px rgb(36, 9, 170), 56px 128px rgb(21, 2, 116), 64px 128px rgb(23, 23, 23), 24px 136px rgb(21, 2, 116), 32px 136px rgb(36, 9, 170), 40px 136px rgb(36, 9, 170), 48px 136px rgb(36, 9, 170), 56px 136px rgb(36, 9, 170), 64px 136px rgb(21, 2, 116), 24px 144px rgb(36, 9, 170), 32px 144px rgb(36, 9, 170), 40px 144px rgb(36, 9, 170), 48px 144px rgb(36, 9, 170), 56px 144px rgb(36, 9, 170), 64px 144px rgb(36, 9, 170), 24px 152px rgb(36, 9, 170), 32px 152px rgb(36, 9, 170), 56px 152px rgb(36, 9, 170), 64px 152px rgb(36, 9, 170), 24px 160px rgb(21, 2, 116), 32px 160px rgb(36, 9, 170), 56px 160px rgb(36, 9, 170), 64px 160px rgb(36, 9, 170), 24px 168px rgb(36, 9, 170), 32px 168px rgb(21, 2, 116), 56px 168px rgb(21, 2, 116), 64px 168px rgb(21, 2, 116), 24px 176px rgb(36, 9, 170), 32px 176px rgb(36, 9, 170), 56px 176px rgb(36, 9, 170), 64px 176px rgb(36, 9, 170), 24px 184px rgb(36, 9, 170), 32px 184px rgb(36, 9, 170), 56px 184px rgb(36, 9, 170), 64px 184px rgb(36, 9, 170), 24px 192px rgb(36, 9, 170), 32px 192px rgb(36, 9, 170), 56px 192px rgb(36, 9, 170), 64px 192px rgb(36, 9, 170), 24px 200px rgb(201, 201, 201), 32px 200px rgb(201, 201, 201), 56px 200px rgb(201, 201, 201), 64px 200px rgb(201, 201, 201), 24px 208px rgb(201, 201, 201), 32px 208px rgb(201, 201, 201), 56px 208px rgb(201, 201, 201), 64px 208px rgb(201, 201, 201);
    position: absolute;
    z-index: 5;
    bottom: 200px;
}

.hud {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 400px;
    height: 75px;
    background: #383838;
}

.gaugeOuter {
    position: absolute;
    top: 4px;
    height: 63px;
    width: 15px;
}

.gaugeInner {
    width: 11px;
    position: absolute;
    height: 59px;
    bottom: 2px;
}

.healthBar {
    border: 2px solid #e8002b;
    left: 6px;
}

.health {
    background: #e8002b;
    left: 2px;
}

.shield {
    background: white;
    height: 12px;
    width: 5px;
    left: 6px;
    border-left: 2px solid #383838;
    border-top: 2px solid #383838;
}

.jetpackFuel {
    border: 2px solid #00dcff;
    left: 30px;
}

.jetFuel {
    background: #00dcff;
    left: 2px;
}

.jumpsLeft {
    border: 2px solid #c000ff;
    left: 54px;
}

.jumps {
    background: #c000ff;
    left: 2px;
}

.gaugeHasTrans {
    transition: 0.2s;
}

.fireTrail {
    height: 0;
    width: 0;
    /* border-top: 10px solid #bd0808; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    transition: 0.3s;
    opacity: 1;
    top: 0;
    animation-fill-mode: forwards;
    z-index: 4;
}

.readout {
    position: fixed;
    font-family: monospace;
    color: orange;
    z-index: 999;
}

/*
PLATFORM SPRITES
*/

.plat1 {
    box-shadow: 16px 8px rgb(186, 186, 186), 24px 8px rgb(171, 166, 166), 32px 8px rgb(186, 186, 186), 40px 8px rgb(171, 166, 166), 48px 8px rgb(171, 166, 166), 56px 8px rgb(186, 186, 186), 64px 8px rgb(155, 151, 151), 72px 8px rgb(160, 152, 152), 80px 8px rgb(186, 186, 186), 88px 8px rgb(171, 166, 166), 96px 8px rgb(160, 152, 152), 104px 8px rgb(171, 166, 166), 112px 8px rgb(186, 186, 186), 120px 8px rgb(155, 151, 151), 128px 8px rgb(186, 186, 186), 136px 8px rgb(186, 186, 186), 144px 8px rgb(155, 151, 151), 152px 8px rgb(186, 186, 186), 160px 8px rgb(171, 166, 166), 168px 8px rgb(186, 186, 186), 176px 8px rgb(171, 166, 166), 184px 8px rgb(171, 166, 166), 192px 8px rgb(186, 186, 186), 200px 8px rgb(171, 166, 166), 208px 8px rgb(155, 151, 151), 8px 16px rgb(171, 166, 166), 16px 16px rgb(68, 65, 65), 24px 16px rgb(68, 65, 65), 32px 16px rgb(68, 65, 65), 40px 16px rgb(68, 65, 65), 48px 16px rgb(68, 65, 65), 56px 16px rgb(68, 65, 65), 64px 16px rgb(68, 65, 65), 72px 16px rgb(68, 65, 65), 80px 16px rgb(68, 65, 65), 88px 16px rgb(56, 51, 51), 96px 16px rgb(56, 51, 51), 104px 16px rgb(68, 65, 65), 112px 16px rgb(68, 65, 65), 120px 16px rgb(56, 51, 51), 128px 16px rgb(68, 65, 65), 136px 16px rgb(68, 65, 65), 144px 16px rgb(68, 65, 65), 152px 16px rgb(56, 51, 51), 160px 16px rgb(68, 65, 65), 168px 16px rgb(68, 65, 65), 176px 16px rgb(68, 65, 65), 184px 16px rgb(56, 51, 51), 192px 16px rgb(68, 65, 65), 200px 16px rgb(68, 65, 65), 208px 16px rgb(171, 166, 166), 216px 16px rgb(155, 151, 151), 224px 16px rgb(171, 166, 166), 16px 24px rgb(171, 166, 166), 24px 24px rgb(171, 166, 166), 32px 24px rgb(56, 51, 51), 40px 24px rgb(68, 65, 65), 48px 24px rgb(171, 166, 166), 56px 24px rgb(56, 51, 51), 64px 24px rgb(56, 51, 51), 72px 24px rgb(68, 65, 65), 80px 24px rgb(56, 51, 51), 88px 24px rgb(56, 51, 51), 96px 24px rgb(56, 51, 51), 104px 24px rgb(68, 65, 65), 112px 24px rgb(68, 65, 65), 120px 24px rgb(68, 65, 65), 128px 24px rgb(56, 51, 51), 136px 24px rgb(68, 65, 65), 144px 24px rgb(68, 65, 65), 152px 24px rgb(56, 51, 51), 160px 24px rgb(56, 51, 51), 168px 24px rgb(56, 51, 51), 176px 24px rgb(56, 51, 51), 184px 24px rgb(56, 51, 51), 192px 24px rgb(68, 65, 65), 200px 24px rgb(155, 151, 151), 208px 24px rgb(171, 166, 166), 24px 32px rgb(171, 166, 166), 32px 32px rgb(56, 51, 51), 40px 32px rgb(56, 51, 51), 48px 32px rgb(56, 51, 51), 56px 32px rgb(56, 51, 51), 64px 32px rgb(186, 186, 186), 72px 32px rgb(68, 65, 65), 80px 32px rgb(56, 51, 51), 88px 32px rgb(68, 65, 65), 96px 32px rgb(68, 65, 65), 104px 32px rgb(68, 65, 65), 112px 32px rgb(68, 65, 65), 120px 32px rgb(155, 151, 151), 128px 32px rgb(171, 166, 166), 136px 32px rgb(171, 166, 166), 144px 32px rgb(68, 65, 65), 152px 32px rgb(68, 65, 65), 160px 32px rgb(68, 65, 65), 168px 32px rgb(68, 65, 65), 176px 32px rgb(68, 65, 65), 184px 32px rgb(171, 166, 166), 192px 32px rgb(155, 151, 151), 200px 32px rgb(171, 166, 166), 32px 40px rgb(186, 186, 186), 40px 40px rgb(68, 65, 65), 64px 40px rgb(171, 166, 166), 72px 40px rgb(68, 65, 65), 80px 40px rgb(171, 166, 166), 88px 40px rgb(186, 186, 186), 96px 40px rgb(171, 166, 166), 104px 40px rgb(186, 186, 186), 112px 40px rgb(171, 166, 166), 120px 40px rgb(155, 151, 151), 128px 40px rgb(171, 166, 166), 136px 40px rgb(155, 151, 151), 144px 40px rgb(155, 151, 151), 152px 40px rgb(171, 166, 166), 160px 40px rgb(171, 166, 166), 168px 40px rgb(56, 51, 51), 176px 40px rgb(68, 65, 65), 184px 40px rgb(171, 166, 166), 40px 48px rgb(171, 166, 166), 64px 48px rgb(186, 186, 186), 72px 48px rgb(171, 166, 166), 112px 48px rgb(171, 166, 166), 120px 48px rgb(186, 186, 186), 120px 56px rgb(171, 166, 166);
}

.plat-left {
    box-shadow: 10px 5px rgb(150, 146, 146), 15px 5px rgb(150, 146, 146), 20px 5px rgb(150, 146, 146), 25px 5px rgb(150, 146, 146), 30px 5px rgb(150, 146, 146), 35px 5px rgb(150, 146, 146), 40px 5px rgb(150, 146, 146), 45px 5px rgb(150, 146, 146), 50px 5px rgb(150, 146, 146), 55px 5px rgb(150, 146, 146), 60px 5px rgb(150, 146, 146), 65px 5px rgb(150, 146, 146), 70px 5px rgb(150, 146, 146), 75px 5px rgb(150, 146, 146), 80px 5px rgb(150, 146, 146), 85px 5px rgb(150, 146, 146), 90px 5px rgb(150, 146, 146), 95px 5px rgb(150, 146, 146), 100px 5px rgb(150, 146, 146), 5px 10px rgb(150, 146, 146), 10px 10px rgb(74, 69, 69), 15px 10px rgb(74, 69, 69), 20px 10px rgb(74, 69, 69), 25px 10px rgb(74, 69, 69), 30px 10px rgb(74, 69, 69), 35px 10px rgb(74, 69, 69), 40px 10px rgb(74, 69, 69), 45px 10px rgb(74, 69, 69), 50px 10px rgb(74, 69, 69), 55px 10px rgb(74, 69, 69), 60px 10px rgb(74, 69, 69), 65px 10px rgb(74, 69, 69), 70px 10px rgb(74, 69, 69), 75px 10px rgb(74, 69, 69), 80px 10px rgb(74, 69, 69), 85px 10px rgb(74, 69, 69), 90px 10px rgb(74, 69, 69), 95px 10px rgb(74, 69, 69), 100px 10px rgb(74, 69, 69), 5px 15px rgb(150, 146, 146), 10px 15px rgb(74, 69, 69), 15px 15px rgb(74, 69, 69), 20px 15px rgb(74, 69, 69), 25px 15px rgb(74, 69, 69), 30px 15px rgb(74, 69, 69), 35px 15px rgb(74, 69, 69), 40px 15px rgb(74, 69, 69), 45px 15px rgb(74, 69, 69), 50px 15px rgb(74, 69, 69), 55px 15px rgb(74, 69, 69), 60px 15px rgb(74, 69, 69), 65px 15px rgb(74, 69, 69), 70px 15px rgb(74, 69, 69), 75px 15px rgb(74, 69, 69), 80px 15px rgb(74, 69, 69), 85px 15px rgb(74, 69, 69), 90px 15px rgb(74, 69, 69), 95px 15px rgb(74, 69, 69), 100px 15px rgb(74, 69, 69), 10px 20px rgb(150, 146, 146), 15px 20px rgb(74, 69, 69), 20px 20px rgb(74, 69, 69), 25px 20px rgb(74, 69, 69), 30px 20px rgb(74, 69, 69), 35px 20px rgb(74, 69, 69), 40px 20px rgb(150, 146, 146), 45px 20px rgb(150, 146, 146), 50px 20px rgb(74, 69, 69), 55px 20px rgb(74, 69, 69), 60px 20px rgb(74, 69, 69), 65px 20px rgb(74, 69, 69), 70px 20px rgb(74, 69, 69), 75px 20px rgb(74, 69, 69), 80px 20px rgb(150, 146, 146), 85px 20px rgb(74, 69, 69), 90px 20px rgb(74, 69, 69), 95px 20px rgb(74, 69, 69), 100px 20px rgb(150, 146, 146), 15px 25px rgb(150, 146, 146), 20px 25px rgb(150, 146, 146), 25px 25px rgb(74, 69, 69), 30px 25px rgb(150, 146, 146), 35px 25px rgb(150, 146, 146), 50px 25px rgb(150, 146, 146), 55px 25px rgb(150, 146, 146), 60px 25px rgb(74, 69, 69), 65px 25px rgb(150, 146, 146), 70px 25px rgb(150, 146, 146), 75px 25px rgb(150, 146, 146), 85px 25px rgb(150, 146, 146), 90px 25px rgb(74, 69, 69), 95px 25px rgb(74, 69, 69), 100px 25px rgb(150, 146, 146), 15px 30px rgb(150, 146, 146), 25px 30px rgb(150, 146, 146), 50px 30px rgb(150, 146, 146), 60px 30px rgb(150, 146, 146), 90px 30px rgb(150, 146, 146), 95px 30px rgb(150, 146, 146);
}

.plat-cent {
    box-shadow: 5px 5px rgb(150, 146, 146), 10px 5px rgb(150, 146, 146), 15px 5px rgb(150, 146, 146), 20px 5px rgb(150, 146, 146), 25px 5px rgb(150, 146, 146), 30px 5px rgb(150, 146, 146), 35px 5px rgb(150, 146, 146), 40px 5px rgb(150, 146, 146), 45px 5px rgb(150, 146, 146), 50px 5px rgb(150, 146, 146), 55px 5px rgb(150, 146, 146), 60px 5px rgb(150, 146, 146), 65px 5px rgb(150, 146, 146), 70px 5px rgb(150, 146, 146), 75px 5px rgb(150, 146, 146), 80px 5px rgb(150, 146, 146), 85px 5px rgb(150, 146, 146), 90px 5px rgb(150, 146, 146), 95px 5px rgb(150, 146, 146), 100px 5px rgb(150, 146, 146), 5px 10px rgb(74, 69, 69), 10px 10px rgb(74, 69, 69), 15px 10px rgb(74, 69, 69), 20px 10px rgb(74, 69, 69), 25px 10px rgb(74, 69, 69), 30px 10px rgb(74, 69, 69), 35px 10px rgb(74, 69, 69), 40px 10px rgb(74, 69, 69), 45px 10px rgb(74, 69, 69), 50px 10px rgb(74, 69, 69), 55px 10px rgb(74, 69, 69), 60px 10px rgb(74, 69, 69), 65px 10px rgb(74, 69, 69), 70px 10px rgb(74, 69, 69), 75px 10px rgb(74, 69, 69), 80px 10px rgb(74, 69, 69), 85px 10px rgb(74, 69, 69), 90px 10px rgb(74, 69, 69), 95px 10px rgb(74, 69, 69), 100px 10px rgb(74, 69, 69), 5px 15px rgb(74, 69, 69), 10px 15px rgb(74, 69, 69), 15px 15px rgb(74, 69, 69), 20px 15px rgb(74, 69, 69), 25px 15px rgb(74, 69, 69), 30px 15px rgb(74, 69, 69), 35px 15px rgb(74, 69, 69), 40px 15px rgb(74, 69, 69), 45px 15px rgb(74, 69, 69), 50px 15px rgb(74, 69, 69), 55px 15px rgb(74, 69, 69), 60px 15px rgb(74, 69, 69), 65px 15px rgb(74, 69, 69), 70px 15px rgb(74, 69, 69), 75px 15px rgb(74, 69, 69), 80px 15px rgb(74, 69, 69), 85px 15px rgb(74, 69, 69), 90px 15px rgb(74, 69, 69), 95px 15px rgb(74, 69, 69), 100px 15px rgb(74, 69, 69), 5px 20px rgb(74, 69, 69), 10px 20px rgb(74, 69, 69), 15px 20px rgb(74, 69, 69), 20px 20px rgb(74, 69, 69), 25px 20px rgb(74, 69, 69), 30px 20px rgb(74, 69, 69), 35px 20px rgb(74, 69, 69), 40px 20px rgb(150, 146, 146), 45px 20px rgb(74, 69, 69), 50px 20px rgb(74, 69, 69), 55px 20px rgb(74, 69, 69), 60px 20px rgb(74, 69, 69), 65px 20px rgb(150, 146, 146), 70px 20px rgb(150, 146, 146), 75px 20px rgb(74, 69, 69), 80px 20px rgb(74, 69, 69), 85px 20px rgb(74, 69, 69), 90px 20px rgb(74, 69, 69), 95px 20px rgb(74, 69, 69), 100px 20px rgb(74, 69, 69), 5px 25px rgb(150, 146, 146), 10px 25px rgb(150, 146, 146), 15px 25px rgb(74, 69, 69), 20px 25px rgb(150, 146, 146), 25px 25px rgb(74, 69, 69), 30px 25px rgb(150, 146, 146), 35px 25px rgb(150, 146, 146), 45px 25px rgb(150, 146, 146), 50px 25px rgb(74, 69, 69), 55px 25px rgb(150, 146, 146), 60px 25px rgb(150, 146, 146), 75px 25px rgb(150, 146, 146), 80px 25px rgb(74, 69, 69), 85px 25px rgb(150, 146, 146), 90px 25px rgb(74, 69, 69), 95px 25px rgb(74, 69, 69), 100px 25px rgb(150, 146, 146), 15px 30px rgb(150, 146, 146), 25px 30px rgb(150, 146, 146), 50px 30px rgb(150, 146, 146), 55px 30px rgb(150, 146, 146), 80px 30px rgb(150, 146, 146), 90px 30px rgb(150, 146, 146), 95px 30px rgb(150, 146, 146);
}

.plat-right {
    box-shadow: 5px 5px rgb(150, 146, 146), 10px 5px rgb(150, 146, 146), 15px 5px rgb(150, 146, 146), 20px 5px rgb(150, 146, 146), 25px 5px rgb(150, 146, 146), 30px 5px rgb(150, 146, 146), 35px 5px rgb(150, 146, 146), 40px 5px rgb(150, 146, 146), 45px 5px rgb(150, 146, 146), 50px 5px rgb(150, 146, 146), 55px 5px rgb(150, 146, 146), 60px 5px rgb(150, 146, 146), 65px 5px rgb(150, 146, 146), 70px 5px rgb(150, 146, 146), 75px 5px rgb(150, 146, 146), 80px 5px rgb(150, 146, 146), 85px 5px rgb(150, 146, 146), 90px 5px rgb(150, 146, 146), 95px 5px rgb(150, 146, 146), 5px 10px rgb(74, 69, 69), 10px 10px rgb(74, 69, 69), 15px 10px rgb(74, 69, 69), 20px 10px rgb(74, 69, 69), 25px 10px rgb(74, 69, 69), 30px 10px rgb(74, 69, 69), 35px 10px rgb(74, 69, 69), 40px 10px rgb(74, 69, 69), 45px 10px rgb(74, 69, 69), 50px 10px rgb(74, 69, 69), 55px 10px rgb(74, 69, 69), 60px 10px rgb(74, 69, 69), 65px 10px rgb(74, 69, 69), 70px 10px rgb(74, 69, 69), 75px 10px rgb(74, 69, 69), 80px 10px rgb(74, 69, 69), 85px 10px rgb(74, 69, 69), 90px 10px rgb(74, 69, 69), 95px 10px rgb(74, 69, 69), 100px 10px rgb(150, 146, 146), 5px 15px rgb(74, 69, 69), 10px 15px rgb(74, 69, 69), 15px 15px rgb(74, 69, 69), 20px 15px rgb(74, 69, 69), 25px 15px rgb(74, 69, 69), 30px 15px rgb(74, 69, 69), 35px 15px rgb(74, 69, 69), 40px 15px rgb(74, 69, 69), 45px 15px rgb(74, 69, 69), 50px 15px rgb(74, 69, 69), 55px 15px rgb(74, 69, 69), 60px 15px rgb(74, 69, 69), 65px 15px rgb(74, 69, 69), 70px 15px rgb(74, 69, 69), 75px 15px rgb(74, 69, 69), 80px 15px rgb(74, 69, 69), 85px 15px rgb(74, 69, 69), 90px 15px rgb(74, 69, 69), 95px 15px rgb(74, 69, 69), 100px 15px rgb(150, 146, 146), 5px 20px rgb(150, 146, 146), 10px 20px rgb(74, 69, 69), 15px 20px rgb(74, 69, 69), 20px 20px rgb(74, 69, 69), 25px 20px rgb(74, 69, 69), 30px 20px rgb(150, 146, 146), 35px 20px rgb(74, 69, 69), 40px 20px rgb(74, 69, 69), 45px 20px rgb(150, 146, 146), 50px 20px rgb(74, 69, 69), 55px 20px rgb(150, 146, 146), 60px 20px rgb(74, 69, 69), 65px 20px rgb(150, 146, 146), 70px 20px rgb(150, 146, 146), 75px 20px rgb(74, 69, 69), 80px 20px rgb(74, 69, 69), 85px 20px rgb(74, 69, 69), 90px 20px rgb(74, 69, 69), 95px 20px rgb(150, 146, 146), 10px 25px rgb(150, 146, 146), 15px 25px rgb(74, 69, 69), 20px 25px rgb(150, 146, 146), 25px 25px rgb(150, 146, 146), 35px 25px rgb(150, 146, 146), 40px 25px rgb(74, 69, 69), 45px 25px rgb(150, 146, 146), 50px 25px rgb(150, 146, 146), 60px 25px rgb(150, 146, 146), 75px 25px rgb(150, 146, 146), 80px 25px rgb(74, 69, 69), 85px 25px rgb(150, 146, 146), 90px 25px rgb(150, 146, 146), 95px 25px rgb(150, 146, 146), 15px 30px rgb(150, 146, 146), 25px 30px rgb(150, 146, 146), 40px 30px rgb(150, 146, 146), 80px 30px rgb(150, 146, 146);
}

@keyframes fireTrail {
    0% {
        top: 120px;
        opacity: 1;
    } 
    100% {
        top: 200px;
        opacity: 0.5;
    }
}