* {
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
}

header {
    height: 100px;
    width: 100%;
    background: whitesmoke;
    position: absolute;
}

.logo {
    font-family: "Roboto", serif;
    color: #ce2020;
    line-height: 100px;
    font-size: 35px;
    left: 80px;
    position: absolute;
}

.logo span {
    color: #8dc728;
}

main {
    background-image: url("../images/noise.png");
    /* background-size: cover; */
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    top: 100px;
    position: absolute;
}

nav {
    position: absolute;
    right: 0;
    height: 100px;
    /* background: orange; */
}
.nav-btn {
    height: 100px;
    text-align: center;
    width: 150px;
    display: inline-block;
    line-height: 100px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.wrap {
    width: 85%;
    /* background: purple; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    /* width: 1120px; */
}

.blurb {
    width: 400px;
    /* background: orange; */
    position: relative;
}

.blurb h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    line-height: 60px;
    margin: 0;
}

.blurb p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.browse {
    font-family: sans-serif;
    font-weight: 700;
}

.browse span {
    font-size: 25px;
    /* font-weight: 900; */
}

.cards {
    /* background: green; */
    position: absolute;
    height: 90%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 1120px;
}

.promo-img {
    height: 100%;
    width: 360px;
    background: black;
    position: relative;
}

.img1 {
    background-image: url("../images/img-1.jpg");
    background-size: cover;
    background-position: center center;
}
.img2 {
    background-image: url("../images/img-2.jpg");
    background-size: cover;
    background-position: center center;
}
.img3 {
    background-image: url("../images/img-3.jpg");
    background-size: cover;
    background-position: center center;
}

.promo-text-1 {
    position: absolute;
    bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
    height: 50px;
    right: 0;
    background: whitesmoke;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.promo-text-2 {
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 900;
    text-align: right;
    line-height: 30px;
    height: 50px;
    width: 200px;
    right: 0;
    background: #8dc728;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}