/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/

%center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
%center-x {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
%center-y {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

$theme-white: #e8e8e8;
$theme-blue-light: #00b7ff;
$theme-blue-dark: #006b8c;
$theme-black-light: #282828;
$theme-black-medium: #191919;
$theme-black-dark: #070707;
$theme-red: #b52626;

$theme-font-title: "Miriam Libre", "Segoe UI", sans-serif, monospace;
$theme-font-button: "Miriam Libre", "Segoe UI", sans-serif, monospace;
$theme-font-subtitle: "Montserrat", sans-serif;
$theme-font-paragraph: "Ubuntu", sans-serif;